{% extends 'pagepro/base.html.twig' %}

{% block title %}Edition vos horaires | {{ parent()}} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/vendors/data-tables/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/vendors/data-tables/css/select.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/css/pages/data-tables.css') }}">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Historique de connexion</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <section class="tabs-vertical mt-1 section">
            <div class="row">
                <div class="col l12 s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <table id="page-length-option" class="display">
                                        <thead>
                                        <tr>
                                            <th>Dernière connexion</th>
                                            <th>Nom de l'hôte</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for history in connection_history %}
                                            <tr>
                                                <td>{{ history.lastLogin|date('d/m/Y à H:i:s') }}</td>
                                                <td>{{ history.hostName }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Dernière connexion</th>
                                            <th>Nom de l'hôte</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('pagepro/vendors/data-tables/js/jquery.dataTables.min.js') }}"></script>
     <script src="{{ asset('pagepro/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js') }}"></script>
     <script src="{{ asset('pagepro/vendors/data-tables/js/dataTables.select.min.js') }}"></script>
     <script src="{{ asset('pagepro/js/scripts/data-tables.js') }}"></script>
 {% endblock %}