{% extends "base.html.twig" %}

{% block title %}Historique de connexion | {{ parent()}} {% endblock %}

{% block body %}

    <section id="content">

        {% include "profile/menu.html.twig" %}

        <div class="container clearfix">

            <div class="content-wrap">

                <div class="row">

                    <div class="col-lg-8 offset-lg-2">
                        <h2>
                            Historique de connexion
                        </h2>

                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>IP</th>
                                <th>Nom de l'hôte</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for history in connection_history %}
                                <tr>
                                    <td>
                                        <code>{{ history.lastLogin|date('d/m/Y à H:i:s') }}</code>
                                    </td>
                                    <td>{{ history.ip }}</td>
                                    <td>{{ history.hostName }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>

                </div>

            </div>

        </div>

    </section>

{% endblock %}