{% extends "base.html.twig" %}

{% block title %}Edition du profil | {{ parent()}} {% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/bs-select.css') }}" type="text/css" />

{% endblock %}

{% block body %}

    <section id="content">

        {% include "profile/menu.html.twig" %}

        <div class="container clearfix">

            <div class="content-wrap">

                <div class="row">

                    <div class="col-lg-12">
                        <h2>
                            Edition du profil
                        </h2>
                        <div class="card">

                            <div class="container clearfix card-body">

                                {{ form_start(form, {'attr': {'class': 'row', 'novalidate': 'novalidate'} }) }}

                                <div class="col-lg-6 form-group">
                                    {{ form_label(form.username) }}
                                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                    {% if not form.username.vars.valid %}
                                        {% for error in form.username.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="col-lg-6 form-group">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                    {% if not form.email.vars.valid %}
                                        {% for error in form.email.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="col-lg-6 form-group">
                                    {{ form_label(form.firstName) }}
                                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                    {% if not form.firstName.vars.valid %}
                                        {% for error in form.firstName.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="col-lg-6 form-group">
                                    {{ form_label(form.lastName) }}
                                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                    {% if not form.lastName.vars.valid %}
                                        {% for error in form.lastName.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="col-lg-12 form-group">
                                    {{ form_label(form.city) }}<br>
                                    {#                                    {{ form_widget(registrationForm.city, {'attr': {'class': 'form-control'}}) }}#}
                                    <div class="dropdown bootstrap-select show-tick dropup">
                                        {{ form_widget(form.city, {'attr': {'class': 'selectpicker', 'data-live-search': 'true', 'data-size': '5'} }) }}
                                    </div>
                                    {% if not form.city.vars.valid %}
                                        {% for error in form.city.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <button type="submit" class="button button-3d button-ma">Mettre à jour</button>

                                {{ form_end(form) }}

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

{% endblock %}

 {% block javascripts %}

     <script src="{{ asset('js/bs-select.js') }}"></script>

 {% endblock %}