{% extends "base.html.twig" %}

{% block title %}Modification du mot de passe | {{ parent()}} {% endblock %}

{% block body %}

    <section id="content">

        {% include "profile/menu.html.twig" %}

        <div class="container clearfix">

            <div class="content-wrap">

                <div class="row">

                    <div class="col-lg-6 offset-lg-3">

                        <h2>Modification du mot de passe</h2>

                        <div class="card">

                            <div class="container clearfix card-body">
                                {{ form_start(formPassword) }}

                                <div class="form-group">
                                    {{ form_label(formPassword.token) }} <i class="icon icon-question-sign" data-toggle="tooltip" data-placement="top" data-original-title="Votre token est disponible dans votre email de bienvenue"></i>
                                    {{ form_widget(formPassword.token, {'attr': {'class': 'form-control'}}) }}
                                    {% if not formPassword.token.vars.valid %}
                                        {% for error in formPassword.token.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    {{ form_label(formPassword.password.first) }}
                                    {{ form_widget(formPassword.password.first, {'attr': {'class': 'form-control'}}) }}
                                    {% if not formPassword.password.first.vars.valid %}
                                        {% for error in formPassword.password.first.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    {{ form_label(formPassword.password.second) }}
                                    {{ form_widget(formPassword.password.second, {'attr': {'class': 'form-control'}}) }}
                                    {% if not formPassword.password.second.vars.valid %}
                                        {% for error in formPassword.password.second.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <button type="submit" class="button button-3d button-ma">Mettre à jour</button>

                                {{ form_end(formPassword) }}

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

{% endblock %}
