{% extends "base.html.twig" %}

{% block title %}Mon Profil | {{ parent()}} {% endblock %}

{% block body %}

    <section id="content">

        {% include "profile/menu.html.twig" %}

        <div class="content-wrap">
            <div class="container clearfix">

                {% if app.user.roles == ["ROLE_PRO"] %}
                    {% if check == null %}

                        <div class="page-box page-box-border page-box-light text-center p-4 p-md-5 mb-5">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <h3>Créer votre page maintenant !</h3>
                                    <span>Pour pouvoir ouvrir votre page professionnel, vous devez ajouter vos informations (adresse, téléphone...)</span>
                                </div>
                                <div class="col-12 mt-4">
                                    <a href="{{ path('add_page_pro') }}" class="btn btn-lg btn-danger">Ajoutez votre page</a>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endif %}

                <div class="row">
                    <div class="col-lg-6">
                        <div class=" panel cardblock cardblock-custom">
                            <div class="cardblock-header">
                                <div class="cardblock-title">
                                    <span class="cardblock-icon">
                                        <i class="flaticon2-chat-1 text-primary"></i>
                                    </span>
                                    <h3 class="cardblock-label">Mes demandes de devis</h3>
                                </div>
                                <div class="cardblock-toolbar">
                                    <a href="" class="btn btn-sm btn-success font-weight-bold">
                                        <i class="flaticon2-cube"></i>Voir plus
                                    </a>
                                </div>
                            </div>
                            <div class="cardblock-body">

                            </div>

                        </div>

                    </div>

                    {% if check != null %}
                        <div class="col-lg-6">
                            <div class=" panel cardblock cardblock-custom">
                                <div class="cardblock-header">
                                    <div class="cardblock-title">
                                    <span class="cardblock-icon">
                                        <i class="flaticon2-chat-1 text-primary"></i>
                                    </span>
                                        <h3 class="cardblock-label">Lorem de {{ check.name }}</h3>
                                    </div>
                                    <div class="cardblock-toolbar">
                                        <a href="" class="btn btn-sm btn-success font-weight-bold">
                                            <i class="flaticon2-cube"></i>Voir plus
                                        </a>
                                    </div>
                                </div>
                                <div class="cardblock-body">

                                </div>

                            </div>

                        </div>
                    {% else %}
                        <div class="col-lg-6">
                            <div class="panel">
                                <div class="panel-header">
                                    <h3 class="panel-title">Titre du bloc</h3>
                                </div>
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore id illo itaque magni modi nobis praesentium similique. Ab eius enim id perferendis praesentium provident quae sequi sunt? Laboriosam, quas?
                                </div>
                            </div>
                        </div>

                    {% endif %}


                </div>

                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>

            </div>

        </div>

    </section>

{% endblock %}