{% if app.user.roles == ["ROLE_USER"] %}
    <div class="profil-m center" style="background-color: #EEE;">

        <div class="sb-profil">
            <img src="{{ asset('images/pagepro/5.jpg') }}" class="" alt="John Doe">
            <a href="">{{ app.user.username }}</a>
        </div>

    </div>
{% endif %}

<div id="header-wrap fixed">

    <nav id="primary-menu" class="style-profile">

        <div class="container clearfix">

            <div id="primary-menu-profile"><i class="icon-reorder"></i></div>

            <ul class="sf-js-enabled" style="touch-action: pan-y;">
                <li><a href="{{ path('profile', {'id': app.user.id}) }}" class=""><div>Accueil</div></a></li>

                {% if app.user.roles == ["ROLE_PRO"] %}

                    {% if check != null %}

                        <li class="menu-item">
                            <a class="menu-link" href="#"><div>Ma page</div></a>
                            <ul class="sub-menu-container">
                                <li class="menu-item">
                                    <a class="menu-link" href="#"><div><i class="icon-caret-right"></i>Modifier</div></a>
                                    <ul class="sub-menu-container">
                                        <li><a href="{{ path('edit_page_pro', {'id': app.user.id, 'token': csrf_token('edit_page_pro') } ) }}" class="sf-with-ul"><div>Modifier les infos</div></a> </li>
                                        <li><a href="{{ path('edit_social_networks_page_pro', {'id': app.user.id, 'token': csrf_token('edit_social_networks_page_pro') } ) }}" class="sf-with-ul"><div>Modifier réseaux sociaux</div></a> </li>
                                        <li><a href="{{ path('edit_schedule', { 'id': app.user.id, 'token': csrf_token('edit_schedule') } ) }}" class="sf-with-ul"><div>Modifier les horaires</div></a> </li>
                                        <li><a href="{{ path('list_service_page_pro', { 'id': app.user.id } ) }}" class="sf-with-ul"><div>Mes services</div></a> </li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('home_pro_profile', {'id': app.user.id }) }}" class="sf-with-ul"><div>Aperçu de ma page</div></a> </li>
                                <li><a href="{{ path('page_pro', {'slug': check.slug }) }}" target="_blank" class="sf-with-ul"><div>Voir ma page</div></a> </li>
                                <li><a href="{{ path('settings_page_pro', { 'id': app.user.id, 'token': csrf_token('settings_page_pro') } ) }}" class="sf-with-ul"><div>Paramètres</div></a> </li>
                            </ul>
                        </li>
                    {% endif %}

                {% else %}
                    <li><a href="">Commandes</a></li>
                {% endif %}

                <li class="sub-menu"><a href="#" class="sf-with-ul"><div>Edition</div></a>
                    <ul style="display: none;">
                        <li><a href="{{ path('profile_edit', { 'id': app.user.id, 'token': csrf_token('profile_edit') } ) }}" class="sf-with-ul"><div>Modifier le profil</div></a> </li>
                        <li><a href="{{ path('edit_password', { 'id': app.user.id, 'token': csrf_token('edit_password') } ) }}" class="sf-with-ul"><div>Modifier le mot de passe</div></a> </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('connection_history', { 'id': app.user.id } ) }}">
                        Historique de connexion
                    </a>
                </li>
            </ul>

            <div id="top-history">
                <a href="{{ path('connection_history', { 'id': app.user.id } ) }}" data-toggle="tooltip" data-placement="bottom" data-original-title="Historique de connexion">
                    <i class="icon-history"></i>
                </a>
            </div>

        </div>

    </nav>

</div>