{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}


    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="row">

                    <div class="col-lg-6 offset-lg-3">

                        <div class="card nobottommargin">

                            <div class="card-body" style="padding: 40px;">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <h3>S'identifier</h3>

                                <form id="register-form" name="register-form" class="nobottommargin" action="#" method="post">
                                    <div class="col_full">
                                        <label for="register-form-name">Nom d'utilisateur:</label>
                                        <input type="text" id="register-form-name" name="username" value="{{ last_username }}" class="form-control" />
                                    </div>
                                    <div class="col_full">
                                        <label for="register-form-password">Votre mot de passe :</label>
                                        <input type="password" id="register-form-password" name="password" value="" class="form-control" />
                                    </div>

                                    <div class="col_full">
                                        <div class="form-check">
                                            <input class="form-check-input" name="_remember_me" type="checkbox" value="" id="defaultCheck1">
                                            <label class="form-check-label" for="defaultCheck1">
                                                Se souvenir de moi ?
                                            </label>
                                        </div>
                                    </div>

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    <div class="col_full nobottommargin">
                                        <button class="button button-3d button-ma nomargin" id="register-form-submit" name="register-form-submit" value="register">Valider</button>
                                    </div>

                                    <div class="divider divider-center"><i class="icon-cloud"></i></div>

                                    <div class="center">
                                        <div class="col_half">
                                            <a href="{{ path('app_register') }}">Pas encore de compte ?</a>
                                        </div>

                                        <div class="col_half col_last">
                                            <a href="recovery.php">Mot de passe oublié ?</a>
                                        </div>
                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

{% endblock %}
