{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/bs-select.css') }}" type="text/css" />

{% endblock %}

{% block body %}

    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="row">

                    <div class="col-lg-7 text-center">

                        <h1>Pourquoi s’inscrire ?</h1>

                        <div class="info-register">
                            <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                                <div class="fbox-icon">
                                    <a href="#"><i class="i-alt noborder icon-map-marker1"></i></a>
                                </div>
                                <h2>Favoriser la Région, les PME et les TPE

                                </h2>
                                <span class="subtitle">
                                    Le but de Mon Avesnois est de pouvoir favoriser la recherche de professionnels sur le secteur local (entrepreneurs, TPE, producteurs...).
                                </span>
                            </div>
                        </div>

                        <div class="info-register">
                            <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                                <div class="fbox-icon">
                                    <a href="#"><i class="i-alt noborder icon-rocket"></i></a>
                                </div>
                                <h2>Promouvoir les métiers et services

                                </h2>
                                <span class="subtitle">
                                    Par divers articles, Mon Avesnois mettra en avant des métiers oubliés ou en manque de visibilité. Via votre page dédiée, vous aurez la possibilité de mettre en avant vos services/compétences
                            </span>
                            </div>
                        </div>

                        <div class="info-register">
                            <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                                <div class="fbox-icon">
                                    <a href="#"><i class="i-alt noborder icon-book"></i></a>
                                </div>
                                <h2>Inscription gratuite

                                </h2>
                                <span class="subtitle">
                                   L'inscription est totalement gratuite. Plusieurs services seront à disposition pour mettre en avant les professionnels d'une façon originale
                            </span>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-5">
                        <div class="card nobottommargin">
                            <div class="card-body" style="padding: 40px;">
                                <h3>Inscription</h3>

                                {{ form_start(registrationForm) }}

                                <div class="col_full">
                                    {{ form_label(registrationForm.username) }}
                                    {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                                    {% if not registrationForm.username.vars.valid %}
                                        {% for error in registrationForm.username.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="col_full">
                                    {{ form_label(registrationForm.firstName) }}
                                    {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
                                    {% if not registrationForm.firstName.vars.valid %}
                                        {% for error in registrationForm.firstName.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="col_full">
                                    {{ form_label(registrationForm.lastName) }}
                                    {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
                                    {% if not registrationForm.lastName.vars.valid %}
                                        {% for error in registrationForm.lastName.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="col_full">
                                    {{ form_label(registrationForm.email) }}
                                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                                    {% if not registrationForm.email.vars.valid %}
                                        {% for error in registrationForm.email.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="col_full">
                                    {{ form_label(registrationForm.password.first) }}
                                    {{ form_widget(registrationForm.password.first, {'attr': {'class': 'form-control'}}) }}
                                    {% if not registrationForm.password.first.vars.valid %}
                                        {% for error in registrationForm.password.first.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="col_full">
                                    {{ form_label(registrationForm.password.second) }}
                                    {{ form_widget(registrationForm.password.second, {'attr': {'class': 'form-control'}}) }}
                                    {% if not registrationForm.password.second.vars.valid %}
                                        {% for error in registrationForm.password.second.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="col_full">
                                    {{ form_label(registrationForm.city) }}<br>
{#                                    {{ form_widget(registrationForm.city, {'attr': {'class': 'form-control'}}) }}#}
                                    <div class="dropdown bootstrap-select show-tick dropup">
                                        {{ form_widget(registrationForm.city, {'attr': {'class': 'selectpicker', 'data-live-search': 'true', 'data-size': '5'} }) }}
                                    </div>
                                    {% if not registrationForm.city.vars.valid %}
                                        {% for error in registrationForm.city.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="col_full">
                                    {{ form_label(registrationForm.role) }}
                                    {{ form_widget(registrationForm.role, {'attr': {'class': 'form-control'}}) }}
                                    {% if not registrationForm.role.vars.valid %}
                                        {% for error in registrationForm.role.vars.errors %}
                                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col_full">
                                    <div class="form-group form-check">
                                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                                        {{ form_label(registrationForm.agreeTerms) }}
                                        {% if not registrationForm.agreeTerms.vars.valid %}
                                            {% for error in registrationForm.agreeTerms.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col_full nobottommargin">
                                    <button class="button button-3d button-ma nomargin" id="register-form-submit" name="register-form-submit" value="register">Valider</button>
                                </div>

                                {{ form_end(registrationForm) }}

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

{% endblock %}

 {% block javascripts %}

     <script src="{{ asset('js/bs-select.js') }}"></script>

 {% endblock %}