{{ form_start(form, {'attr': {'class': 'landing-wide-form clearfix', 'novalidate': 'novalidate'}}) }}
<div class="col_four_fifth nobottommargin">
    <div class="col_one_third nobottommargin">
        {{ form_widget(form.searchterm) }}

    </div>
    <div class="col_one_third nobottommargin">
        {{ form_widget(form.choice) }}

    </div>
    <div class="col_one_third col_last nobottommargin">
        {{ form_widget(form.city, {'attr': {'data-live-search': 'true', 'data-size': '5'} }) }}

    </div>
</div>
<div class="col_one_fifth col_last nobottommargin">
    <button class="btn btn-lg button-green btn-block nomargin" value="submit" type="submit" style="">Rechercher</button>
</div>
{{ form_end(form) }}