/*----------------------------------------
	Product
------------------------------------------*/
.product-status
{
    line-height: 50px;

    position: relative;

    display: inline-block;

    width: 28px;

    vertical-align: bottom;
    white-space: nowrap;

    border-radius: 50px;
}

.product-status i
{
    position: absolute;
    right: -2px;
    bottom: 18px;

    width: 9px !important;
    height: 9px !important;

    border: 1px solid #fff;
    border-radius: 100%;
}

.product-status span.text-circle
{
    font-size: 1.2rem;

    display: table-cell;

    text-align: center;
    vertical-align: middle;

    color: #fff;
    background: #fafafa;
}

.product-status img
{
    width: 100%;
    max-width: 100%;
    height: auto;

    border: 0 none;
    border-radius: 1000px;
    background: #e6e6e6;
}

.product-online i
{
    background-color: #00e676;
}

.product-off i
{
    background-color: #bdbdbd;
}

.product-busy i
{
    background-color: #ff1744;
}

.product-away i
{
    background-color: #ffc400;
}

.product-status.product-100
{
    width: 100px;
}

.product-status.product-100 span.text-circle
{
    width: 100px;
    height: 100px;
}

.product-status.product-100 i
{
    width: 20px;
    height: 20px;
}

.product-status.product-50
{
    line-height: 0;

    width: 50px;
}

.product-status.product-50 span.text-circle
{
    width: 50px;
    height: 50px;
}

.product-status.product-50 i
{
    right: -1px;
    bottom: 21px;

    width: 12px !important;
    height: 12px !important;
}

.product-status.product-lg
{
    width: 144px;
}

.product-status.product-lg span.text-circle
{
    width: 144px;
    height: 144px;
}

.product-status.product-lg i
{
    right: 0;
    bottom: 0;

    width: 20px;
    height: 20px;
}

.product-status.product-md
{
    width: 40px;
}

.product-status.product-md span.text-circle
{
    width: 40px;
    height: 40px;
}

.product-status.product-md i
{
    right: 0;
    bottom: 0;

    width: 10px;
    height: 10px;
}

.product-status.product-sm
{
    width: 32px;
}

.product-status.product-sm span.text-circle
{
    width: 32px;
    height: 32px;
}

.product-status.product-sm i
{
    width: 8px;
    height: 8px;
}

.product-status.product-xs
{
    width: 24px;
}

.product-status.product-xs span.text-circle
{
    width: 24px;
    height: 24px;
}

.product-status.product-xs i
{
    width: 7px;
    height: 7px;
}

.collection .collection-item.product:not(.circle-clipper) > .circle
{
    background: #e6e6e6;
}

.navbar .profile-button span.product-status
{
    line-height: 43px;
}

.navbar .profile-button span.product-status
{
    line-height: 39px;
}

#work-collections .collection-item.product
{
    height: auto;
    padding-top: 22px;
}

.collection .collection-item.product i.circle
{
    font-size: 28px;
}

span.badge.product
{
    font-size: .8rem;
    font-weight: 300;

    color: #fff;
    border-radius: 2px;
    background-color: #3ba22c;
}

span.badge.product:after
{
    content: ' produit(s)';
}


/* ----------------------------------------------------------------
	Flip Cards
-----------------------------------------------------------------*/

.service-card {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.service-card-front,
.service-card-back {
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 280px;
    border-radius: 6px;
    color: #FFF;
    font-size: 1.5rem;
}

.service-card-back { background-color: #666; }

.service-card-front.no-after:after,
.service-card-back.no-after:after { content: none }

.service-card-front:after,
.service-card-back:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    opacity: 0.6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
}

.service-card:hover .service-card-front,
.service-card:hover .service-card-back {
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.service-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.service-card-inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.service-card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.service-card-front,
.service-card:hover .service-card-back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.service-card:hover .service-card-front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.top-to-bottom .service-card-back {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.top-to-bottom .service-card-front,
.top-to-bottom:hover .service-card-back {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.top-to-bottom:hover .service-card-front {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.service-card-inner span {
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
}

.service-card-inner p {
    position: relative;
    font-size: 16px;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.7);
}

.owl-carousel .owl-stage { padding: 20px 0; }

.nobg { background: none !important; }

.card-service .card-title {
    color: #fff;
}
/*.service-card { background-color: rgba(0,0,0,0.2); }*/

.img-circle {
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
    max-width: 150px;
}
.img-circle { border-radius: 50% !important; }
.pp-header {
    margin-top: 15px;
}
.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}
.pp-contenair {
    position: relative;
    z-index: 5;
    height: 100%;
    width: 100%;
    color: #000;
    padding: 50px 0;

}
.pp-contenair .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: url('images/pagepro/1.jpg') center;*/
    opacity: .3;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-size: cover;
}

label{font-size: 1rem !important;}

/*Icon backgroud*/
.visibility-view {
    color: #098305 !important;
}
.visibility-not-view {
    color: #d01c1c !important;
}