<!DOCTYPE html>
<html lang="fr">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Mon Avesnois" />

    <title>{% block title %}Mon Avesnois{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('style.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/dark.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/font-icons.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/bs-select.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block stylesheets %}{% endblock %}

</head>

<body class="stretched">

<div id="wrapper" class="clearfix">

    <header id="header" class="dark full-header sticky-header">

        <div id="header-wrap">

            <div class="container">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <div id="logo">
                    <a href="{{ path('home') }}" class="standard-logo" data-dark-logo="{{ asset('images/logo-dark.png') }}"><img src="{{ asset('images/logo-dark.png') }}" alt="Mon Avesnois Logo"></a>
                    <a href="{{ path('home') }}" class="retina-logo" data-dark-logo=""><img src="{{ asset('images/logo-dark.png') }}" alt="Mon Avesnois Logo"></a>
                </div>

                <nav id="primary-menu">

                    <ul class="one-page-menu">
                        <li><a href="{{ path('home') }}"><div>Accueil</div></a></li>
                        <li><a href="blog.php"><div>Actualités</div></a></li>
                        <li><a href="#"><div>Annonces</div></a></li>
                        <li><a href="price.php"><div>Offres</div></a></li>
                        {% if app.user %}
                            <li class="sub-menu"><a href="" class="sf-with-ul"><div>{{ app.user.username }}</div></a>
                                <ul style="display: none;">
                                    {% if app.user.roles == ["ROLE_PRO"] %}
                                        <li><a href="{{ path('pro_profile', {'id': app.user.id}) }}"><div>Profil</div></a></li>
                                    {% else %}
                                        <li><a href="{{ path('profile', {'id': app.user.id}) }}"><div>Profil</div></a></li>
                                    {% endif %}
                                    <li><a href="{{ path('app_logout') }}"><div>Deconnexion</div></a></li>

                                </ul>
                            </li>

                        {% else %}
                            <li><a href="{{ path('app_login') }}"><div>Connexion</div></a></li>
                            <li><a href="{{ path('app_register') }}"><div>Inscription</div></a></li>
                        {% endif %}
                        <li><a href="profil_pro.php"><div>PP*</div></a></li>

                    </ul>

                    <div id="top-search">
                        <a href="{{ path('search') }}" ><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    </div>
                </nav>

            </div>

        </div>

    </header>
    {% for message in app.flashes('success') %}
        <div class="style-msg successmsg">
            <div class="sb-msg"><i class="icon-thumbs-up"></i>{{ message }}</div>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    {% endfor %}
    {% for message in app.flashes('errors') %}
        <div class="style-msg errormsg">
            <div class="sb-msg"><i class="icon-thumbs-down"></i>{{ message }}</div>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class="style-msg alertmsg">
            <div class="sb-msg"><i class="icon-thumbs-down"></i>{{ message }}</div>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    {% endfor %}

    {% block body %}{% endblock %}

    <footer id="footer" class="dark">

        <div id="copyrights">

            <div class="container clearfix">

                <div class="col_half">
                    Copyrights &copy; 2019<br>
                    <div class="copyright-links"><a href="#">Mentions légales</a> / <a href="#">Politique de confidentialités</a></div>
                </div>

                <div class="col_half col_last tright">
                    <div class="fright clearfix">
                        <a href="#" class="social-icon si-small si-borderless si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>

                    <div class="clear"></div>

                    <i class="icon-line-mail"></i> contact@monavesnois.fr <span class="middot">&middot;</span> <i class="icon-phone"></i> 0102030405 <span class="middot">&middot;</span>
                </div>

            </div>

        </div>

    </footer>

</div>

<div id="gotoTop" class="icon-angle-up"></div>

<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/plugins.js') }}"></script>
<script src="{{ asset('js/functions.js') }}"></script>
<script src="{{ asset('js/bs-select.js') }}"></script>

<script>
    $(function() {
        $( "#side-navigation" ).tabs({ show: { effect: "fade", duration: 400 } });
    });
</script>
{% block javascripts %}{% endblock %}

</body>
</html>