{% extends 'base.html.twig' %}

{% block title %}{{ page.name }} Contact | {{ parent()}} {% endblock %}

{% block body %}

    {% include "pagepro/menu.html.twig" %}

    <section class="content">

        <div class="content-wrap">

            <div class="container clearfix">

                    <div class="col-lg-12">

                        <div class="fancy-title title-border">
                            <h3>Contacter {{ page.name }}</h3>
                        </div>


                        {% if app.user %}
                            {% if app.user.id != page.user.id %}

                                <div>
                                    {{ form_start(form, {'attr': {'class': 'mb-0'}}) }}

                                    <div class="row">

                                        <div class="w-100"></div>

                                        <div class="col-md-12 col-lg-12 form-group">
                                            {{ form_label(form.subject) }}
                                            {{ form_widget(form.subject, {'attr': {'class': 'required sm-form-control'}}) }}
                                        </div>

                                        <div class="w-100"></div>

                                        <div class="col-12 form-group">
                                            {{ form_label(form.message) }}
                                            {{ form_widget(form.message, {'attr': {'class': 'required sm-form-control', 'rows': '6','cols': '30'}}) }}
                                        </div>

                                        <div class="col-12 form-group">
                                            <button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d m-0">Envoyer le message</button>
                                        </div>
                                    </div>

                                    <input type="hidden" name="prefix" value="template-contactform-">

                                    {{ form_end(form) }}
                                </div>

                            {% else %}


                                <div class="alert alert-info">
                                    <i class="icon-eye"></i> Voyons il n'est pas possible de s'envoyer un propre message !
                                </div>
                            {% endif %}
                        {% else %}

                            <div class="alert alert-warning">
                                <i class="icon-warning-sign"></i> Pour contacter {{ page.name }} vous devez vous
                                <a href="{{ path('app_login') }}">connecter</a>, où vous
                                <a href="{{ path('app_register') }}">inscrire</a> si vous n'avez pas encore de compte.
                            </div>

                        {% endif %}
                    </div>

            </div>

        </div>

    </section>

{% endblock %}
