{% extends "base.html.twig" %}

{% block body %}
    <section id="slider" class="slider-element slider-parallax dark full-screen" style="background: url('images/landing1.jpg') center;">

        <div class="slider-parallax-inner">

            <div class="container clearfix">

                <div class="vertical-middle">

                    <div class="heading-block center nobottomborder">
                        <h1 data-animate="fadeInUp">Vous recherchez un professionnels dans l'Avesnois ?</h1>
                        <span data-animate="fadeInUp" data-delay="300">Lancez votre recherche et découvrez les professionnels de votre secteur</span>
                    </div>

{#                    <form action="#" method="post" class="landing-wide-form clearfix">#}
{#                        <div class="col_four_fifth nobottommargin">#}
{#                            <div class="col_one_third nobottommargin">#}
{#                                <input type="text" class="form-control form-control-lg not-dark" value="" placeholder="Votre recherche*">#}
{#                            </div>#}
{#                            <div class="col_one_third nobottommargin">#}
{#                                <input type="email" class="form-control form-control-lg not-dark" value="" placeholder="Votre ville*">#}
{#                            </div>#}
{#                            <div class="col_one_third col_last nobottommargin">#}
{#                                <input type="password" class="form-control form-control-lg not-dark" value="" placeholder="Secteur d'activité*">#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col_one_fifth col_last nobottommargin">#}
{#                            <button class="btn btn-lg button-green btn-block nomargin" value="submit" type="submit" style="">Rechercher</button>#}
{#                        </div>#}
{#                    </form>#}
                    {% include 'includes/_search.html.twig' %}
                </div>

            </div>

        </div>

    </section>


    <section>
        <div class="container clearfix">
            <div class="content-wrap">
                <div class="container clearfix">

                    <div class="col_one_fourth nobottommargin">
                        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                            <div class="fbox-icon">
                                <a href="#"><i class="i-alt noborder icon-shop"></i></a>
                            </div>
                            <h3>lorem<span class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></h3>
                        </div>
                    </div>

                    <div class="col_one_fourth nobottommargin">
                        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                            <div class="fbox-icon">
                                <a href="#"><i class="i-alt noborder icon-wallet"></i></a>
                            </div>
                            <h3>lorem<span class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></h3>
                        </div>
                    </div>

                    <div class="col_one_fourth nobottommargin">
                        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                            <div class="fbox-icon">
                                <a href="#"><i class="i-alt noborder icon-megaphone"></i></a>
                            </div>
                            <h3>lorem<span class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></h3>
                        </div>
                    </div>

                    <div class="col_one_fourth nobottommargin col_last">
                        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                            <div class="fbox-icon">
                                <a href="#"><i class="i-alt noborder icon-fire"></i></a>
                            </div>
                            <h3>lorem<span class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
