{% extends 'base.html.twig' %}

{% block body %}
    <div class="container clearfix">

        <div class="content-wrap">

            <div class="heading-block center">

                <h1>Recherche</h1>

                <span>Vous recherchez une entreprise où un service lié à celle-ci ?</span>

            </div>

            <div class="clearfix"></div>

            {% include 'includes/_search.html.twig' %}

            <div class="fancy-title title-border title-center mt-5">

                {% if choice == 1 %}

                    {% if pages != null %}

                        {% if pages|length > 0 %}

                            <h3>Vos résultats ({{ pages|length }})</h3>

                        {% endif %}

                    {% elseif pages|length == 0 and search != null %}

                        <h3 class="text-center">Aucune entreprise trouvé</h3>

                    {% endif %}

                {% else %}

                    {% if services != null %}

                        {% if services|length > 0 %}

                            <h3>Vos résultats ({{ services|length }})</h3>

                        {% endif %}

                    {% elseif services|length == 0 and search != null %}

                        <h3 class="text-center">Aucun service trouvé</h3>

                    {% endif %}

                {% endif %}

                {% if search == null %}

                    <h3 class="text-center">Vous n'avez pas encore effectué de recherche</h3>

                {% endif %}

            </div>

            {% if choice == 1 %}

                {% if pages != null %}
                    <div class="row grid-container has-init-isotope" data-layout="masonry" style="overflow: visible; position: relative; height: 529px;">
                        {% for page in pages %}
                            {% if city == null %}

                                <div class="col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                                    <div class="flip-card ">
                                        {#                                        <div class="flip-card-front dark" id="imgService" style="background-image: url('{{ asset('/images/pagepro/service/'~service.imgService) }}')">#}
                                        <div class="flip-card-front dark" id="imgService" style="background-image: url('https://www.fillmurray.com/640/480/?37806')">

                                            <div class="flip-card-inner">
                                                <div class="card bg-transparent border-0 text-center">
                                                    <div class="card-body">
                                                        <h3 id="title" class="card-title">

                                                            {{ page.name }}

                                                        </h3>
                                                        <p class="card-text font-weight-normal" id="content-front">
                                                            {{ page.description|u.truncate(30) }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="color-back" class="flip-card-back" style="background: {% for service in services %}
                                            {{ service.colorBack }}
                                        {% endfor %};">
                                            <div class="flip-card-inner">
                                                <p class="mb-2 text-white" id="content-back">
                                                    {{ page.address }} - {{ page.city.postal }} {{ page.city.city }}
                                                </p>
                                                <a href="{{ path('page_pro', {'slug': page.slug }) }}" class="btn btn-outline-light mt-2">Voir la page</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% elseif page.city.id == city.id %}
                                <div class="col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                                    <div class="flip-card ">
                                        {#                                        <div class="flip-card-front dark" id="imgService" style="background-image: url('{{ asset('/images/pagepro/service/'~service.imgService) }}')">#}
                                        <div class="flip-card-front dark" id="imgService" style="background-image: url('https://www.fillmurray.com/640/480/?37806')">

                                            <div class="flip-card-inner">
                                                <div class="card bg-transparent border-0 text-center">
                                                    <div class="card-body">
                                                        <h3 id="title" class="card-title">

                                                            {{ page.name }}

                                                        </h3>
                                                        <p class="card-text font-weight-normal" id="content-front">
                                                            {{ page.description|u.truncate(30) }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="color-back" class="flip-card-back" style="background: {% for service in services %}
                                            {{ service.colorBack }}
                                        {% endfor %};">
                                            <div class="flip-card-inner">
                                                <p class="mb-2 text-white" id="content-back">
                                                    {{ page.address }} - {{ page.city.postal }} {{ page.city.city }}
                                                </p>
                                                <a href="{{ path('page_pro', {'slug': page.slug }) }}" class="btn btn-outline-light mt-2">Voir la page</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                Aucun résultat trouvé
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

            {% else %}

                {% if services != null %}
                    <div class="row grid-container has-init-isotope" data-layout="masonry" style="overflow: visible; position: relative; height: 529px;">

                        {% for service in services %}
                            {% if city == null %}

                                <div class="col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                                    <div class="flip-card ">
                                        {#                                        <div class="flip-card-front dark" id="imgService" style="background-image: url('{{ asset('/images/pagepro/service/'~service.imgService) }}')">#}
                                        <div class="flip-card-front dark" id="imgService" style="background-image: url('https://www.fillmurray.com/640/480/?37806')">

                                            <div class="flip-card-inner">
                                                <div class="card bg-transparent border-0 text-center">
                                                    <div class="card-body">
                                                        <h3 id="title" class="card-title">

                                                            {{ service.title }}
                                                        </h3>
                                                        <p class="card-text font-weight-normal" id="content-front">
                                                            {{ service.content|raw|u.truncate(80) }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="color-back" class="flip-card-back" style="background: {% for service in services %}
                                            {{ service.colorBack }}
                                        {% endfor %};">
                                            <div class="flip-card-inner">
                                                <p class="mb-2 text-white" id="content-back">
                                                    {{ service.contentBack }}
                                                </p>
                                                <a href="{{ path('page_pro', {'slug': service.page.slug }) }}" class="btn btn-outline-light mt-2">Voir la page</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% elseif service.page.city.id == city.id %}

                                <div class="col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                                    <div class="flip-card ">
                                        {#                                        <div class="flip-card-front dark" id="imgService" style="background-image: url('{{ asset('/images/pagepro/service/'~service.imgService) }}')">#}
                                        <div class="flip-card-front dark" id="imgService" style="background-image: url('https://www.fillmurray.com/640/480/?37806')">

                                            <div class="flip-card-inner">
                                                <div class="card bg-transparent border-0 text-center">
                                                    <div class="card-body">
                                                        <h3 id="title" class="card-title">

                                                            {{ service.title }}
                                                        </h3>
                                                        <p class="card-text font-weight-normal" id="content-front">
                                                            {{ service.content|raw|u.truncate(80) }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="color-back" class="flip-card-back" style="background: {% for service in services %}
                                            {{ service.colorBack }}
                                        {% endfor %};">
                                            <div class="flip-card-inner">
                                                <p class="mb-2 text-white" id="content-back">
                                                    {{ service.contentBack }}
                                                </p>
                                                <a href="{{ path('page_pro', {'slug': service.page.slug }) }}" class="btn btn-outline-light mt-2">Voir la page</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        {% endfor %}

                    </div>
                {% endif %}

            {% endif %}

        </div>

    </div>

{% endblock %}
