{% extends 'base.html.twig' %}

{% block title %}Ajouter un service | {{ parent()}} {% endblock %}

{% block body %}

    <section id="content">

        {% include "profile/menu.html.twig" %}

        <div class="container clearfix">

            <div class="content-wrap">

                <h1 class="center">Ajout d'un service</h1>

                <div class="row grid-container has-init-isotope" data-layout="masonry" style="overflow: visible; position: relative; height: 529px;">
                    <div class="col-lg-4 mb-4 offset-lg-4" style="position: absolute; left: 0%; top: 0px;">
                        <div class="flip-card text-center">
                            <div class="flip-card-front dark" id="imgService" style="background-image: url('')">
                                <div class="flip-card-inner">
                                    <div class="card bg-transparent border-0 text-center">
                                        <div class="card-body">
                                            <h3 id="title" class="card-title"></h3>
                                            <p class="card-text font-weight-normal" id="content-front"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="color-back" class="flip-card-back" style="background: #ba1a9a;">
                                <div class="flip-card-inner">
                                    <p class="mb-2 text-white" id="content-back"></p>
                                    <button type="button" class="btn btn-outline-light mt-2" data-toggle="modal" data-target=".content-service">Voir détails</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-12">

                        {{ form_start(form, {'attr': {'class': 'row'}}) }}

                        <div class="col-lg-6 form-group">
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title, {'attr': {'class': 'form-control required', 'onkeyup': 'titleService()'}}) }}
                        </div>

                        <div class="col-lg-6 col-sm-12 form-group">
                            {{ form_label(form.imgService) }}
                            {{ form_widget(form.imgService, {'attr': {'class': 'form-control', 'onchange': 'imgService(this);'}} ) }}
                            {% if not form.imgService.vars.valid %}
                                {% for error in form.imgService.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="w-100"></div>

                        <div class="col-lg-6 form-group">
                            {{ form_label(form.content) }}
                            {{ form_widget(form.content, {'attr': {'class': 'form-control required', 'onkeyup': 'contentService()'}}) }}
                        </div>

                        <div class="col-lg-6 form-group">
                            {{ form_label(form.contentBack) }}
                            {{ form_widget(form.contentBack, {'attr': {'class': 'form-control required', 'onkeyup': 'contentServiceBack()'}}) }}
                        </div>

                        <div class="w-100"></div>

                        <div class="col-lg-6 form-group">
                            {{ form_label(form.tag) }}
                            {{ form_widget(form.tag, {'attr': {'class': 'form-control required' }}) }}
                        </div>

                        <div class="w-100"></div>

                        <div class="col-lg-4 col-md-4 col-sm-6 form-group ">
                            {{ form_label(form.colorBack) }}
                            {{ form_widget(form.colorBack, {'attr': {'class': 'form-control' }}) }}
                            <div id="picker"></div>
                        </div>

                        <div class="col-lg-8 form-group">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'onkeyup': 'contentModalService()', 'rows': '10'}}) }}
                            {% if not form.description.vars.valid %}
                                {% for error in form.description.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-12">
                            <button type="submit" class="button button-3d button-ma">Ajouter</button>
                        </div>

                        {{ form_end(form) }}

                    </div>

                </div>

            </div>

        </div>

    </section>

    {% include 'pagepro/modal_add_service.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <script src="{{ asset('js/service.js') }}"></script>
{% endblock %}