{% extends 'base.html.twig' %}

{% block title %}Edition des réseaux sociaux | {{ parent()}} {% endblock %}

{% block body %}

    <section id="content">

        {% include "profile/menu.html.twig" %}

        <div class="container clearfix">

            <div class="content-wrap">

                <h1 class="center">Edition des réseaux sociaux</h1>

                <div class="style-msg infomsg">
                    <div class="sb-msg"><i class="icon-info-sign"></i><strong>Info :</strong> Vous êtes sur des réseaux sociaux qui ne sont pas disponible ici ?
                        <a href="">Dites le nous</a></div>
                </div>

                <div class="row">

                    {{ form_start(form, {'attr': {'class': 'row'}}) }}

                    <div class="col-lg-6 col-sm-12 form-group">
                        {{ form_label(form.facebook) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="ex : nnomdemapage"><i class="icon icon-facebook"></i></span>
                            </div>
                            {{ form_widget(form.facebook) }}
                            {% if not form.facebook.vars.valid %}
                                {% for error in form.facebook.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 form-group">
                        {{ form_label(form.twitter) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="ex : nomdemapage"><i class="icon icon-twitter"></i></span>
                            </div>
                            {{ form_widget(form.twitter) }}
                            {% if not form.twitter.vars.valid %}
                                {% for error in form.twitter.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 form-group">
                        {{ form_label(form.instagram) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="ex : nomdemapage"><i class="icon icon-instagram"></i></span>
                            </div>
                            {{ form_widget(form.instagram) }}
                            {% if not form.instagram.vars.valid %}
                                {% for error in form.instagram.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 form-group">
                        {{ form_label(form.linkedin) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="ex : nomdemapage"><i class="icon icon-linkedin"></i></span>
                            </div>
                            {{ form_widget(form.linkedin) }}
                            {% if not form.linkedin.vars.valid %}
                                {% for error in form.linkedin.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 form-group">
                        {{ form_label(form.youtube) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="ex : nomdemapage"><i class="icon icon-youtube"></i></span>
                            </div>
                            {{ form_widget(form.youtube) }}
                            {% if not form.youtube.vars.valid %}
                                {% for error in form.youtube.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 form-group">
                        {{ form_label(form.github) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="ex : nomdemapage"><i class="icon icon-github"></i></span>
                            </div>
                            {{ form_widget(form.github) }}
                            {% if not form.github.vars.valid %}
                                {% for error in form.github.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 form-group">
                        {{ form_label(form.twitch) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="ex : nomdemapage"><i class="icon icon-twitch"></i></span>
                            </div>
                            {{ form_widget(form.twitch) }}
                            {% if not form.twitch.vars.valid %}
                                {% for error in form.twitch.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 form-group">
                        {{ form_label(form.tumblr) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="ex : nomdemapage"><i class="icon icon-tumblr"></i></span>
                            </div>
                            {{ form_widget(form.tumblr) }}
                            {% if not form.tumblr.vars.valid %}
                                {% for error in form.tumblr.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 form-group">
                        {{ form_label(form.viadeo) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="ex : nomdemapage"><i class="icon icon-viadeo"></i></span>
                            </div>
                            {{ form_widget(form.viadeo) }}
                            {% if not form.viadeo.vars.valid %}
                                {% for error in form.viadeo.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 form-group">
                        {{ form_label(form.pinterest) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="ex : nomdemapage"><i class="icon icon-pinterest"></i></span>
                            </div>
                            {{ form_widget(form.pinterest) }}
                            {% if not form.pinterest.vars.valid %}
                                {% for error in form.pinterest.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 form-group">
                        {{ form_label(form.flickr) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="ex : nomdemapage"><i class="icon icon-flickr"></i></span>
                            </div>
                            {{ form_widget(form.flickr) }}
                            {% if not form.flickr.vars.valid %}
                                {% for error in form.flickr.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-12">
                        <button type="submit" class="button button-3d button-ma">Modifier</button>
                    </div>

                    {{ form_end(form) }}
                </div>

            </div>

        </div>

    </section>

{% endblock %}