{% extends 'base.html.twig' %}

{% block title %}Edition de votre page | {{ parent()}} {% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/bs-select.css') }}" type="text/css" />

{% endblock %}

{% block body %}

    <section id="content">

        {% include "profile/menu.html.twig" %}

        <div class="container clearfix">

            <div class="content-wrap">

                <h1 class="center">Edition de votre page</h1>

                <div class="row">

                    <div class="col-lg-12">

                        {{ form_start(form, {'attr': {'class': 'row', 'novalidate': 'novalidate'} }) }}

                        <div class="col-lg-12 form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control required'}}) }}
                            {% if not form.name.vars.valid %}
                                {% for error in form.name.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-lg-6 form-group">
                            {{ form_label(form.email1) }}
                            {{ form_widget(form.email1, {'attr': {'class': 'form-control required'}}) }}
                            {% if not form.email1.vars.valid %}
                                {% for error in form.email1.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-lg-6 form-group">
                            {{ form_label(form.email2) }}
                            {{ form_widget(form.email2, {'attr': {'class': 'form-control'}}) }}
                            {% if not form.email2.vars.valid %}
                                {% for error in form.email2.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-lg-6 form-group">
                            {{ form_label(form.tel1) }}
                            {{ form_widget(form.tel1, {'attr': {'class': 'form-control required'}}) }}
                            {% if not form.tel1.vars.valid %}
                                {% for error in form.tel1.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-lg-6 form-group">
                            {{ form_label(form.tel2) }}
                            {{ form_widget(form.tel2, {'attr': {'class': 'form-control'}}) }}
                            {% if not form.tel2.vars.valid %}
                                {% for error in form.tel2.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-lg-6 form-group">
                            {{ form_label(form.fax) }}
                            {{ form_widget(form.fax, {'attr': {'class': 'form-control'}}) }}
                            {% if not form.fax.vars.valid %}
                                {% for error in form.fax.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-lg-6 form-group">
                            {{ form_label(form.siret) }}
                            {{ form_widget(form.siret, {'attr': {'class': 'form-control'}}) }}
                            {% if not form.siret.vars.valid %}
                                {% for error in form.siret.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-lg-6 form-group">
                            {{ form_label(form.address) }}
                            {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                            {% if not form.address.vars.valid %}
                                {% for error in form.address.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-lg-6 form-group">
                            {{ form_label(form.city) }}<br>
                            <div class="dropdown bootstrap-select show-tick dropup">
                                {{ form_widget(form.city, {'attr': {'class': 'selectpicker', 'data-live-search': 'true', 'data-size': '5'} }) }}
                            </div>
                        </div>

                        <div class="col-12 form-group">
                            {{ form_label(form.nafCode) }}<br>
                            <div class="dropdown bootstrap-select show-tick dropup">
                                {{ form_widget(form.nafCode, {'attr': {'class': 'selectpicker', 'data-live-search': 'true', 'data-size': '5'} }) }}
                            </div>
                        </div>

                        <div class="col-lg-12 form-group">
                            {{ form_label(form.website) }}
                            {{ form_widget(form.website, {'attr': {'class': 'form-control'}}) }}
                            {% if not form.website.vars.valid %}
                                {% for error in form.website.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="w-100"></div>

                        <div class="col-lg-12 center">
                            Aperçu de votre logo et bannière de fond
                        </div>

                        <div class="col-lg-12">
                            <div class="pp-contenair">
                                {% if ban != null %}

                                    <div id="imgBan" class="bg" style="background: url('{{ asset('/images/pagepro/ban/'~ban.name) }}') center no-repeat;"></div>
                                {% else %}
                                    <div id="imgBan" class="bg" style="background: url('{{ asset('/images/pagepro/ban/default.jpg') }}') center no-repeat;"></div>
                                {% endif %}
                                <div class="container pp-head clearfix">

                                    {% if logo != null %}
                                        <img id="imageLogo"  class="aligncenter img-circle img-thumbnail notopmargin nobottommargin" alt="Logo / Jeranders ma super entreprise" style="max-width: 150px;" src="{{ asset('/images/pagepro/logo/'~logo.name) }}">
                                    {% else %}
                                        <img id="imageLogo"  class="aligncenter img-circle img-thumbnail notopmargin nobottommargin" alt="Logo / Jeranders ma super entreprise" style="max-width: 150px;" src="{{ asset('/images/pagepro/logo/default.png') }}">
                                    {% endif %}

                                    <div class="center pp-header">
                                        <h1>{{ check.name }}</h1>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-12 form-group">
                            {{ form_label(form.imageLogo) }}
                            {{ form_widget(form.imageLogo, {'attr': {'class': 'form-control', 'onchange': 'imgLogo(this);'}} ) }}
                            {% if not form.imageLogo.vars.valid %}
                                {% for error in form.imageLogo.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-lg-6 col-sm-12 form-group">
                            {{ form_label(form.imageBan) }}
                            {{ form_widget(form.imageBan, {'attr': {'class': 'form-control', 'onchange': 'imgBan(this);'}} ) }}
                            {% if not form.imageBan.vars.valid %}
                                {% for error in form.imageBan.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-lg-12 form-group">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                            {% if not form.description.vars.valid %}
                                {% for error in form.description.vars.errors %}
                                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-lg-12">
                            <button type="submit" class="button button-3d button-ma">Modifier</button>
                        </div>

                        {{ form_end(form) }}

                    </div>

                </div>

            </div>

        </div>

    </section>

{% endblock %}

 {% block javascripts %}

     <script src="{{ asset('js/bs-select.js') }}"></script>
     <script>

         function imgLogo(input) {
             if (input.files && input.files[0]) {
                 var reader = new FileReader();

                 reader.onload = function (e) {
                     $('#imageLogo')
                         .attr('src', e.target.result);
                 };

                 reader.readAsDataURL(input.files[0]);
             }
         }

         function imgBan(input) {
             if (input.files && input.files[0]) {
                 var reader = new FileReader();

                 reader.onload = function (e) {
                     $('#imgBan').attr('style', 'background: url(' +  e.target.result + ')');

                 };
                 reader.readAsDataURL(input.files[0]);
             }
         }
     </script>
 {% endblock %}