{% extends 'base.html.twig' %}

{% block title %}Edition des horaires | {{ parent()}} {% endblock %}

{% block body %}

    <section id="content">

        {% include "profile/menu.html.twig" %}

        <div class="container clearfix">

            <div class="content-wrap">

                <h1 class="center">Edition des horaires</h1>

                <div class="row">

                    <table class="table schedule">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}

                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Jour</th>
                            <th scope="col">Matin</th>
                            <th scope="col">Après-Midi</th>
                            <th scope="col">Fermeture</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>Lundi</td>
                            <td>{{ form_widget(form.mon_pm) }} à {{ form_widget(form.mon_pm_end) }}</td>
                            <td>{{ form_widget(form.mon_am) }} à {{ form_widget(form.mon_am_end) }}</td>
                            <td>
                                {{ form_widget(form.close_mon) }}
                            </td>
                        </tr>

                        <tr>
                            <td>Mardi</td>
                            <td>{{ form_widget(form.tue_pm) }} à {{ form_widget(form.tue_pm_end) }}</td>
                            <td>{{ form_widget(form.tue_am) }} à {{ form_widget(form.tue_am_end) }}</td>
                            <td>
                                {{ form_widget(form.close_tue) }}
                            </td>
                        </tr>

                        <tr>
                            <td>Mercredi</td>
                            <td>{{ form_widget(form.wed_pm) }} à {{ form_widget(form.wed_pm_end) }}</td>
                            <td>{{ form_widget(form.wed_am) }} à {{ form_widget(form.wed_am_end) }}</td>
                            <td>
                                {{ form_widget(form.close_wed) }}
                            </td>
                        </tr>

                        <tr>
                            <td>Jeudi</td>
                            <td>{{ form_widget(form.thu_pm) }} à {{ form_widget(form.thu_pm_end) }}</td>
                            <td>{{ form_widget(form.thu_am) }} à {{ form_widget(form.thu_am_end) }}</td>
                            <td>
                                {{ form_widget(form.close_thu) }}
                            </td>
                        </tr>

                        <tr>
                            <td>Vendredi</td>
                            <td>{{ form_widget(form.fri_pm) }} à {{ form_widget(form.fri_pm_end) }}</td>
                            <td>{{ form_widget(form.fri_am) }} à {{ form_widget(form.fri_am_end) }}</td>
                            <td>
                                {{ form_widget(form.close_fri) }}
                            </td>
                        </tr>

                        <tr>
                            <td>Samedi</td>
                            <td>{{ form_widget(form.sat_pm) }} à {{ form_widget(form.sat_pm_end) }}</td>
                            <td>{{ form_widget(form.sat_am) }} à {{ form_widget(form.sat_am_end) }}</td>
                            <td>
                                {{ form_widget(form.close_sat) }}
                            </td>
                        </tr>

                        <tr>
                            <td>Dimanche</td>
                            <td>{{ form_widget(form.sun_pm) }} à {{ form_widget(form.sun_pm_end) }}</td>
                            <td>{{ form_widget(form.sun_am) }} à {{ form_widget(form.sun_am_end) }}</td>
                            <td>
                                {{ form_widget(form.close_sun) }}
                            </td>
                        </tr>


                        </tbody>

                    </table>

                    <button type="submit" class="button button-3d button-ma">Modifier</button>

                    {{ form_end(form) }}

                </div>

            </div>

        </div>

    </section>





{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/schedule.js') }}"></script>
{% endblock %}