{% extends 'base.html.twig' %}

{% block title %}Liste des services | {{ parent()}} {% endblock %}

{% block body %}

    <section id="content">

        {% include "profile/menu.html.twig" %}

        {% if countService == 0 %}

            <div class="container clearfix">

                <div class="content-wrap">

                    <h1 class="center">Liste des services {{ countService }}/5</h1>

                    <div class="page-box page-box-border page-box-light text-center p-4 p-md-5 mb-5">

                        <div class="row align-items-center">
                            <div class="col-12">
                                <h3>Créer vos services maintenant !</h3>
                                <span>Ajoutez vos services ou produits pour mettre en valeur votre entreprise</span>
                            </div>
                            <div class="col-12 mt-4">
                                <a href="{{ path('add_service_page_pro') }}" class="btn btn-lg btn-success">Ajoutez un service ou un produit</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="container clairfix">

                <div class="fancy-title title-dotted-border title-center">
                    <h3 id="services">Exemple</h3>
                </div>

                <div class="row grid-container" data-layout="masonry" style="overflow: visible; position: relative; height: 529px;">

                    <div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
                        <div class="flip-card text-center">
                            <div class="flip-card-front dark" style="background-image: url('{{ asset('images/pagepro/1.jpg') }}')">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder text-center">
                                        <div class="card-body">
                                            <h3 class="card-title">Titre</h3>
                                            <p class="card-text t400">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back  no-after">
                                <div class="flip-card-inner">
                                    <p class="mb-2 text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit.</p>
                                    <button type="button" class="btn btn-outline-light mt-2" data-toggle="modal" data-target=".bs-example-modal-lg">Voir plus</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4" style="position: absolute; left: 390px; top: 0px; transition-property: opacity, transform; transition-duration: 0.65s; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
                        <div class="flip-card text-center top-to-bottom">
                            <div class="flip-card-front dark" style="background-image: url('{{ asset('images/pagepro/2.jpg') }}');">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder text-center">
                                        <div class="card-body">
                                            <h3 class="card-title">Titre</h3>
                                            <p class="card-text t400">WLorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" style="background-image: url('{{ asset('images/pagepro/2.jpg') }}');">
                                <div class="flip-card-inner">
                                    <p class="mb-2 text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit.</p>
                                    <button type="button" class="btn btn-outline-light mt-2">Voir plus</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4" style="position: absolute; left: 780px; top: 0px; transition-property: opacity, transform; transition-duration: 0.65s; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
                        <div class="flip-card text-center">
                            <div class="flip-card-front dark" data-height-xl="505" style="background-image: url('{{ asset('images/pagepro/4.jpg') }}'); height: 505px;">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder text-center">
                                        <div class="card-body">
                                            <h3 class="card-title">Titre</h3>
                                            <p class="card-text t400">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" data-height-xl="505" style="background: #0000E6; height: 505px;">
                                <div class="flip-card-inner">
                                    <p class="mb-2 text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit.</p>
                                    <button type="button" class="btn btn-outline-light mt-2">Voir plus</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 304px; transition-property: opacity, transform; transition-duration: 0.65s; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
                        <div class="flip-card text-center top-to-bottom">
                            <div class="flip-card-front dark" data-height-xl="200" style="background-image: url('{{ asset('images/pagepro/5.jpg') }}'); height: 200px;">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder text-center">
                                        <div class="card-body">
                                            <h3 class="card-title">Titre</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" data-height-xl="200" style="background-image: url('https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/58381364_1278057045677085_2626792854248226816_n.jpg?_nc_cat=101&_nc_sid=110474&_nc_ohc=sL7P9wBEP-wAX91Jaa-&_nc_ht=scontent-cdt1-1.xx&oh=ad1f6fee4b2bd1ee751b66d19f51e81f&oe=5EB5E815'); height: 200px;">
                                <div class="flip-card-inner">
                                    <p class="mb-2 text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit.</p>
                                    <button type="button" class="btn btn-outline-light mt-2">Voir plus</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4" style="position: absolute; left: 390px; top: 304px; transition-property: opacity, transform; transition-duration: 0.65s; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
                        <div class="flip-card top-to-bottom">
                            <div class="flip-card-front dark" data-height-xl="200" style="background-image: url('{{ asset('images/pagepro/6.jpg') }}'); height: 200px;">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder">
                                        <div class="card-body">
                                            <h3 class="card-title mb-0">Titre</h3>
                                            <span class="font-italic">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" data-height-xl="200" style="background-image: url('{{ asset('images/pagepro/7.jpg') }}'); height: 200px;">
                                <div class="flip-card-inner">
                                    <p class="mb-2 text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit.</p>
                                    <button type="button" class="btn btn-outline-light mt-2">Voir plus</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        {% else %}

            <div class="container clearfix">

                <div class="content-wrap">

                    <h1 class="center">Liste des services {{ countService }}/5</h1>

                    <div class="row">

                        <div class="col-lg-12">

                            <table class="table table-striped">
                                {% if countService != 5 %}
                                    <a href="{{ path('add_service_page_pro') }}" class="btn btn-success">Ajouter un service</a>
                                {% endif %}
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Titre</th>
                                    <th>Mot clé</th>
                                    <th>Modifier</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for service in services %}
                                    <tr>
                                        <td>{{ service.id }}</td>
                                        <td>{{ service.title }}</td>
                                        <td>{{ service.tag }}</td>
                                        <td><a class="btn btn-primary" href="{{ path('edit_service_page_pro', { 'id': service.id, 'token': csrf_token('edit_service') } ) }}"><i class="icon icon-edit1"></i></a></td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>

            </div>

            {% if countService == 5 %}

                <section class="content">

                    <div class="container clairfix">

                        <div class="fancy-title title-dotted-border title-center">
                            <h3 id="services">Nos services / produits</h3>
                        </div>

                        <div class="row grid-container" data-layout="masonry" style="overflow: visible; position: relative; height: 529px;">

                            <div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
                                <div class="flip-card text-center">
                                    <div class="flip-card-front dark" style="background-image: url('{{ asset('/images/pagepro/service/'~services.0.imgService) }}')">
                                        <div class="flip-card-inner">
                                            <div class="card nobg noborder text-center">
                                                <div class="card-body">
                                                    <h3 class="card-title"> {{ services.0.title }}</h3>
                                                    <p class="card-text t400"> {{ services.0.content }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back  no-after" style="background: {{ services.0.colorBack }};">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white"> {{ services.0.contentBack }}</p>
                                            <button type="button" class="btn btn-outline-light mt-2" data-toggle="modal" data-target=".bs-example-modal-lg">Voir plus</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4" style="position: absolute; left: 390px; top: 0px; transition-property: opacity, transform; transition-duration: 0.65s; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
                                <div class="flip-card text-center top-to-bottom">
                                    <div class="flip-card-front dark" style="background-image: url('{{ asset('/images/pagepro/service/'~services.1.imgService) }}');">
                                        <div class="flip-card-inner">
                                            <div class="card nobg noborder text-center">
                                                <div class="card-body">
                                                    <h3 class="card-title"> {{ services.1.title }}</h3>
                                                    <p class="card-text t400">{{ services.1.content }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back  no-after" style="background: {{ services.1.colorBack }};">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">{{ services.1.contentBack }}</p>
                                            <button type="button" class="btn btn-outline-light mt-2">Voir plus</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4" style="position: absolute; left: 780px; top: 0px; transition-property: opacity, transform; transition-duration: 0.65s; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
                                <div class="flip-card text-center">
                                    <div class="flip-card-front dark" data-height-xl="505" style="background-image: url('{{ asset('/images/pagepro/service/'~services.2.imgService) }}'); height: 505px;">
                                        <div class="flip-card-inner">
                                            <div class="card nobg noborder text-center">
                                                <div class="card-body">
                                                    <h3 class="card-title"> {{ services.2.title }}</h3>
                                                    <p class="card-text t400">{{ services.2.content }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back" data-height-xl="505" style="background: {{ services.1.colorBack }}; height: 505px;">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">{{ services.2.contentBack }}</p>
                                            <button type="button" class="btn btn-outline-light mt-2">Voir plus</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 304px; transition-property: opacity, transform; transition-duration: 0.65s; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
                                <div class="flip-card text-center top-to-bottom">
                                    <div class="flip-card-front dark" data-height-xl="200" style="background-image: url('{{ asset('/images/pagepro/service/'~services.3.imgService) }}'); height: 200px;">
                                        <div class="flip-card-inner">
                                            <div class="card nobg noborder text-center">
                                                <div class="card-body">
                                                    <h3 class="card-title"> {{ services.3.title }}</h3>
                                                    <p class="card-text t400">{{ services.3.content }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back" data-height-xl="200" style="background: {{ services.3.colorBack }}; height: 200px;">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">{{ services.3.contentBack }}</p>
                                            <button type="button" class="btn btn-outline-light mt-2">Voir plus</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4" style="position: absolute; left: 390px; top: 304px; transition-property: opacity, transform; transition-duration: 0.65s; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
                                <div class="flip-card top-to-bottom">
                                    <div class="flip-card-front dark" data-height-xl="200" style="background-image: url('{{ asset('/images/pagepro/service/'~services.4.imgService) }}'); height: 200px;">
                                        <div class="flip-card-inner">
                                            <div class="card nobg noborder">
                                                <div class="card-body">
                                                    <h3 class="card-title mb-0"> {{ services.4.title }}</h3>
                                                    <p class="card-text t400">{{ services.4.content }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back" data-height-xl="200" style="background: {{ services.4.colorBack }}; height: 200px;">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">{{ services.4.contentBack }}</p>
                                            <button type="button" class="btn btn-outline-light mt-2">Voir plus</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </section>

            {% endif %}

        {% endif %}

    </section>
{% endblock %}
