{% extends 'pagepro/base.html.twig' %}

{% block title %}Boîte de réception | {{ parent()}} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/vendors/data-tables/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/vendors/data-tables/css/select.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/css/pages/data-tables.css') }}">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Boîte de réception</span></h5>
                        <ol class="breadcrumbs mb-0">
                            <li>
                                <span class="badge blue">Total 25</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="tabs-vertical mt-1 section">
            <div class="row">
                <div class="col l12 s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <table id="messages-list" class="display">
                                        <thead>
                                        <tr>
                                            <th>Dâte</th>
                                            <th>Expéditeur</th>
                                            <th>Sujet</th>
                                            <th>Voir</th>
                                            <th>Lu</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for message in lists %}
                                            <tr>
                                                <td>
                                                    {{ message.createdAt|date('d/m/Y à H:i') }}
                                                </td>
                                                <td>{{ message.user.username|capitalize }}</td>
                                                <td><a href="">{{ message.subject|truncate(25)|capitalize }}</a></td>
                                                <td><a class="mb-6 btn-floating waves-effect waves-light green lightrn-1"><i class="material-icons right">visibility</i></a></td>
                                                <td>
                                                    {% if message.view == 1 %}
                                                        <i class="material-icons tooltipped" data-position="top" data-tooltip="Ouvert le {{ message.viewAt|date('d/m/Y à H:i') }}">drafts</i>
                                                    {% else %}
                                                        <i class="material-icons">mail</i>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('pagepro/vendors/data-tables/js/jquery.dataTables.min.js') }}"></script>
     <script src="{{ asset('pagepro/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js') }}"></script>
     <script src="{{ asset('pagepro/vendors/data-tables/js/dataTables.select.min.js') }}"></script>
     <script src="{{ asset('pagepro/js/scripts/data-tables.js') }}"></script>
 {% endblock %}