{% extends 'base.html.twig' %}

{% block title %}Paramètres | {{ parent() }} {% endblock %}

{% block body %}
    <section id="content">

        {% include "profile/menu.html.twig" %}

        <div class="container clearfix">

            <div class="content-wrap">

                <div class="row">

                    <div class="col-lg-6 offset-lg-3 justify-content-center">


                        <h1>Paramètres de Ma page</h1>

                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Activation</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="center">
                                    <code>{{ form_widget(form.isPublished) }}</code>
                                    <code>{{ form_errors(form.isPublished) }}</code>
                                </td>
                                <td>{{ form_label(form.isPublished) }}</td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <code>{{ form_widget(form.addressPublished) }}</code>
                                </td>
                                <td>{{ form_label(form.addressPublished) }}</td>
                            </tr>

                            <tr>
                                <td class="center">
                                    <code>{{ form_widget(form.siretPublished) }}</code>
                                </td>
                                <td>{{ form_label(form.siretPublished) }}</td>
                            </tr>

                            <tr>
                                <td class="center">
                                    <code>{{ form_widget(form.email1Published) }}</code>
                                </td>
                                <td>{{ form_label(form.email1Published) }}</td>
                            </tr>

                            <tr>
                                <td class="center">
                                    <code>{{ form_widget(form.tel1Published) }}</code>
                                </td>
                                <td>{{ form_label(form.tel1Published) }}</td>
                            </tr>

                            <tr>
                                <td class="center">
                                    <code>{{ form_widget(form.schedulePublished) }}</code>
                                </td>
                                <td>{{ form_label(form.schedulePublished) }}</td>
                            </tr>

                            </tbody>
                        </table>

                        <button type="submit" class="button button-3d button-ma">Modifier</button>

                        {{ form_end(form) }}


                    </div>

                </div>

            </div>

        </div>

    </section>

{% endblock %}