{% extends 'pagepro/base.html.twig' %}

{% block title %}Ajout d'un service | {{ parent()}} {% endblock %}
{% block stylesheets %}
    <style>
        #picker svg{
            margin: auto;
        }

    </style>
{% endblock %}
{% block body %}

    <div class="row">

        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>

        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Gestion des services</span></h5>
                        <ol class="breadcrumbs mb-0">
                            <li class="breadcrumb-item"><a href="#">Liste / Ajouter vos services</a></li>
                        </ol>
                    </div>
                    <div class="col s2 m6 l6"><a
                                class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#"
                                data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span
                                    class="hide-on-small-onl">Settings</span><i class="material-icons right">arrow_drop_down</i></a>
                        <ul class="dropdown-content" id="dropdown1" tabindex="0">
                            <li tabindex="0"><a class="grey-text text-darken-2"
                                                href="#">Profile<span
                                            class="new badge red">2</span></a></li>
                            <li tabindex="0"><a class="grey-text text-darken-2" href="#">Contacts</a>
                            </li>
                            <li tabindex="0"><a class="grey-text text-darken-2" href="#">FAQ</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li tabindex="0"><a class="grey-text text-darken-2" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">

            <div class="container">

                <div class="card">

                    <div class="card-content">

                        <div class="center">

                            <div class="row grid-container" data-layout="masonry" style="overflow: visible; position: relative; height: 329px;">
                                <div class="col s12 m8 l4 offset-l4 offset-m2" style="position: absolute; left: 0%; top: 0px;">
                                    <div class="service-card text-center">
                                        <div class="service-card-front dark" id="imgService" style="background-image: url('')">
                                            <div class="service-card-inner">
                                                <div class="card-service bg-transparent border-0 text-center">
                                                    <div class="card-body">
                                                        <h3 id="title" class="card-title"></h3>
                                                        <p class="card-text font-weight-normal" id="content-front"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="color-back" class="service-card-back" style="background: #ba1a9a;">
                                            <div class="service-card-inner">
                                                <p class="mb-2 text-white" id="content-back"></p>
                                                <button type="button" class="btn btn-outline-light mt-2" data-toggle="modal" data-target=".content-service">Voir détails</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col s12 service">

                                    {{ form_start(form, {'attr': {'class': 'row'}}) }}

                                    <div class="col s12 mb-4">
                                        {{ form_label(form.imgService) }}
                                        {{ form_widget(form.imgService, {'attr': {'class': 'input-field', 'onchange': 'imgService(this);'}} ) }}
                                        {% if not form.imgService.vars.valid %}
                                            {% for error in form.imgService.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="col s12 m6 l6">
                                        {{ form_label(form.title) }}
                                        {{ form_widget(form.title, {'attr': {'class': 'input-field required', 'onkeyup': 'titleService()'}}) }}
                                    </div>

                                    <div class="w-100"></div>

                                    <div class="col s12 m6 l6">
                                        {{ form_label(form.content) }}
                                        {{ form_widget(form.content, {'attr': {'class': 'input-field required', 'onkeyup': 'contentService()'}}) }}
                                    </div>

                                    <div class="col s12 m6 l6">
                                        {{ form_label(form.contentBack) }}
                                        {{ form_widget(form.contentBack, {'attr': {'class': 'input-field required', 'onkeyup': 'contentServiceBack()'}}) }}
                                    </div>

                                    <div class="w-100"></div>

                                    <div class="col s12 m6 l6">
                                        {{ form_label(form.tag) }}
                                        {{ form_widget(form.tag, {'attr': {'class': 'input-field required' }}) }}
                                    </div>

                                    <div class="w-100"></div>

                                    <div class="col s12 l8 m8">
                                        {{ form_label(form.description) }}
                                        {{ form_widget(form.description, {'attr': {'class': 'input-field', 'onkeyup': 'contentModalService()', 'rows': '10'}}) }}
                                        {% if not form.description.vars.valid %}
                                            {% for error in form.description.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="col s4">
                                        {{ form_label(form.colorBack) }}
                                        {{ form_widget(form.colorBack, {'attr': {'class': 'input-field' }}) }}
                                        <div class="mb-4"></div>
                                        <div id="picker"></div>
                                    </div>

                                    <div class="col s12 mt-4">
                                        <button class="btn green waves-effect waves-light left" type="submit">Ajouter
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>

                                    {{ form_end(form) }}

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="content-overlay"></div>

    </div>

    {% include 'pagepro/modal_add_service.html.twig' %}

{% endblock %}

 {% block javascripts %}
     <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
     <script src="{{ asset('js/service.js') }}"></script>
 {% endblock %}