{% extends 'pagepro/base.html.twig' %}

{% block title %}Création de votre page | {{ parent()}} {% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/css/themes/admin/materialize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/css/themes/admin/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block body %}

    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">

            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Ajout de votre page</span></h5>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m8 l8">
                <div id="custom-error" class="card card-tabs">
                    <div class="card-content">
                        <div class="card-title">
                            <div class="row">
                                <div class="col s12 m6 l10">
                                    <h4 class="card-title">Formulaire</h4>
                                </div>

                            </div>
                        </div>

                        <div>
                            {{ form_start(form, {'attr': {'class': 'row'}}) }}

                            <div class="col s12 input-field">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name, {'attr': {'class': ' required'}}) }}
                                {% if not form.name.vars.valid %}
                                    {% for error in form.name.vars.errors %}
                                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col s6 input-field">
                                {{ form_label(form.email1) }}
                                {{ form_widget(form.email1, {'attr': {'class': ' required'}}) }}
                                {% if not form.email1.vars.valid %}
                                    {% for error in form.email1.vars.errors %}
                                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col s6 input-field">
                                {{ form_label(form.email2) }}
                                {{ form_widget(form.email2) }}
                                {% if not form.email2.vars.valid %}
                                    {% for error in form.email2.vars.errors %}
                                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col s6 input-field">
                                {{ form_label(form.tel1) }}
                                {{ form_widget(form.tel1, {'attr': {'class': ' required'}}) }}
                                {% if not form.tel1.vars.valid %}
                                    {% for error in form.tel1.vars.errors %}
                                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col s6 input-field">
                                {{ form_label(form.tel2) }}
                                {{ form_widget(form.tel2) }}
                                {% if not form.tel2.vars.valid %}
                                    {% for error in form.tel2.vars.errors %}
                                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col s6 input-field">
                                {{ form_label(form.fax) }}
                                {{ form_widget(form.fax) }}
                                {% if not form.fax.vars.valid %}
                                    {% for error in form.fax.vars.errors %}
                                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col s6 input-field">
                                {{ form_label(form.siret) }}
                                {{ form_widget(form.siret) }}
                                {% if not form.siret.vars.valid %}
                                    {% for error in form.siret.vars.errors %}
                                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col s6 input-field">
                                {{ form_label(form.address) }}
                                {{ form_widget(form.address) }}
                                {% if not form.address.vars.valid %}
                                    {% for error in form.address.vars.errors %}
                                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col s6 input-field">
                                {{ form_label(form.city) }}<br>
                                <div class="input-field ">
                                    {{ form_widget(form.city, {'attr': {'class': 'select2 browser-default '} }) }}
                                </div>
                            </div>

                            <div class="col s6 input-field">
                                {{ form_label(form.nafCode) }}<br>
                                <div class="input-field ">
                                    {{ form_widget(form.nafCode, {'attr': {'class': 'select2 browser-default '} }) }}
                                </div>
                            </div>

                            <div class="col s12 input-field">
                                {{ form_label(form.website) }}
                                {{ form_widget(form.website) }}
                                {% if not form.website.vars.valid %}
                                    {% for error in form.website.vars.errors %}
                                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col s12 input-field">
                                <div>
                                    {{ form_label(form.description) }}
                                </div>
                                {{ form_widget(form.description) }}
                                {% if not form.description.vars.valid %}
                                    {% for error in form.description.vars.errors %}
                                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                    {% endfor %}
                                {% endif %}

                            </div>

                            <div class="col s12">
                                <button type="submit" class="waves-effect green darken-4 waves-light  btn">Création</button>
                            </div>
                            {{ form_end(form) }}
                        </div>

                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div id="custom-error" class="card card-tabs">
                    <div class="card-content">
                        <div class="card-title">
                            <div class="row">
                                <div class="col s12 m6 l10">
                                    <h4 class="card-title">Informations</h4>
                                </div>

                            </div>
                        </div>
                        <div>
                            <p>

                                Les informations comme le SIRET, numéro de téléphone, adresse, email peuvent être
                                caché dans les paramètres de la page une fois celle-ci crée, mais reste obligatoire pour la
                                vérification de validité de l'entreprise sur le site.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

 {% block javascripts %}

     <script src="{{ asset('pagepro/vendors/select2/select2.full.min.js') }}"></script>
     <script src="{{ asset('pagepro/js/scripts/form-select2.js') }}"></script>

 {% endblock %}