{% for message in app.flashes('success') %}
    <div class="card-alert card green lighten-5">
        <div class="card-content green-text">
            <p>{{ message }}</p>
        </div>
        <button type="button" class="close green-text" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
{% endfor %}

{% for message in app.flashes('errors') %}
        <div class="card-alert card green lighten-5">
            <div class="card-content green-text">
                <p>{{ message }}</p>
            </div>
            <button type="button" class="close green-text" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}

{% for message in app.flashes('warning') %}
        <div class="card-alert card green lighten-5">
            <div class="card-content green-text">
                <p>{{ message }}</p>
            </div>
            <button type="button" class="close green-text" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}