<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>{% block title %}Profil{% endblock %}</title>
    <link rel="apple-touch-icon" href="{{ asset('pagepro/images/favicon/apple-touch-icon-152x152.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/vendors/vendors.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('pagepro/css/themes/admin/materialize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/css/themes/admin/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/css/custom/custom.css') }}">
    {% block stylesheets %} {% endblock %}
</head>

<body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu preload-transitions 2-columns   "
      data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">

{% include 'pagepro/header.html.twig' %}
{% include 'pagepro/sidenav.html.twig' %}

<div id="main">
    {% include 'pagepro/alert-msg.html.twig' %}

    {% block body %}{% endblock %}
</div>

<footer class="page-footer footer footer-static footer-dark gradient-45deg-indigo-purple gradient-shadow navbar-border navbar-shadow">
    <div class="footer-copyright">
        <div class="container">
            <span>&copy; 2020</span>
            <span class="right hide-on-small-only"><a href="https://monavesnois.fr">monavesnois.fr</a></span>
        </div>
    </div>
</footer>

<script src="{{ asset('pagepro/js/vendors.min.js') }}"></script>
<script src="{{ asset('pagepro/vendors/chartjs/chart.min.js') }}"></script>
<script src="{{ asset('pagepro/vendors/chartist-js/chartist.min.js') }}"></script>
<script src="{{ asset('pagepro/vendors/chartist-js/chartist-plugin-tooltip.js') }}"></script>
<script src="{{ asset('pagepro/vendors/chartist-js/chartist-plugin-fill-donut.min.js') }}"></script>
<script src="{{ asset('pagepro/js/plugins.js') }}"></script>
<script src="{{ asset('pagepro/js/scripts/ui-alerts.min.js') }}"></script>
<script src="{{ asset('pagepro/js/search.js') }}"></script>
<script src="{{ asset('pagepro/js/scripts/customizer.js') }}"></script>
<script src="{{ asset('pagepro/js/scripts/dashboard.js') }}"></script>

{% block javascripts %} {% endblock %}

</body>
</html>