{% extends 'pagepro/base.html.twig' %}

{% block title %}Edition de votre page | {{ parent()}} {% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/css/themes/admin/materialize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/css/themes/admin/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <style>

    </style>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Edition</span></h5>
                        <ol class="breadcrumbs mb-0">
                            <li class="breadcrumb-item"><a href="#">Edition de votre page</a>
                            </li>

                        </ol>
                    </div>
                    <div class="col s2 m6 l6"><a
                                class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#"
                                data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span
                                    class="hide-on-small-onl">Settings</span><i class="material-icons right">arrow_drop_down</i></a>
                        <ul class="dropdown-content" id="dropdown1" tabindex="0">
                            <li tabindex="0"><a class="grey-text text-darken-2"
                                                href="#">Profile<span
                                            class="new badge red">2</span></a></li>
                            <li tabindex="0"><a class="grey-text text-darken-2" href="#">Contacts</a>
                            </li>
                            <li tabindex="0"><a class="grey-text text-darken-2" href="#">FAQ</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li tabindex="0"><a class="grey-text text-darken-2" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="container">

                <div class="section">
                    <div class="card">
                        <div class="card-content">
                            <div class="caption mb-0 center">

                                <div class="row">
                                    {{ form_start(form, {'attr': {'class': 'row', 'novalidate': 'novalidate'} }) }}

                                    <div class="col s6 ">
                                        {{ form_label(form.name) }}
                                        {{ form_widget(form.name, {'attr': {'class': 'input-field required'}}) }}
                                        {% if not form.name.vars.valid %}
                                            {% for error in form.name.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="col s6 ">
                                        {{ form_label(form.email1) }}
                                        {{ form_widget(form.email1, {'attr': {'class': 'input-field required'}}) }}
                                        {% if not form.email1.vars.valid %}
                                            {% for error in form.email1.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="col s6 ">
                                        {{ form_label(form.email2) }}
                                        {{ form_widget(form.email2, {'attr': {'class': 'input-field'}}) }}
                                        {% if not form.email2.vars.valid %}
                                            {% for error in form.email2.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="col s6 ">
                                        {{ form_label(form.tel1) }}
                                        {{ form_widget(form.tel1, {'attr': {'class': 'input-field required'}}) }}
                                        {% if not form.tel1.vars.valid %}
                                            {% for error in form.tel1.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="col s6 ">
                                        {{ form_label(form.tel2) }}
                                        {{ form_widget(form.tel2, {'attr': {'class': 'input-field'}}) }}
                                        {% if not form.tel2.vars.valid %}
                                            {% for error in form.tel2.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="col s6 ">
                                        {{ form_label(form.fax) }}
                                        {{ form_widget(form.fax, {'attr': {'class': 'input-field'}}) }}
                                        {% if not form.fax.vars.valid %}
                                            {% for error in form.fax.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="col s6 ">
                                        {{ form_label(form.siret) }}
                                        {{ form_widget(form.siret, {'attr': {'class': 'input-field'}}) }}
                                        {% if not form.siret.vars.valid %}
                                            {% for error in form.siret.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="col s6 ">
                                        {{ form_label(form.address) }}
                                        {{ form_widget(form.address, {'attr': {'class': 'input-field'}}) }}
                                        {% if not form.address.vars.valid %}
                                            {% for error in form.address.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="col s6 ">
                                        {{ form_label(form.city) }}<br>
                                        <div class="input-field ">
                                            {{ form_widget(form.city, {'attr': {'class': 'select2 browser-default '} }) }}
                                        </div>
                                    </div>

                                    <div class="col s6 ">
                                        {{ form_label(form.nafCode) }}<br>
                                        <div class="input-field">
                                            {{ form_widget(form.nafCode, {'attr': {'class': 'select2 browser-default'} }) }}
                                        </div>
                                    </div>

                                    <div class="col s12 ">
                                        {{ form_label(form.website) }}
                                        {{ form_widget(form.website, {'attr': {'class': 'input-field'}}) }}
                                        {% if not form.website.vars.valid %}
                                            {% for error in form.website.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="w-100"></div>

                                    <div class="col s12 center">
                                        Aperçu de votre logo et bannière de fond
                                    </div>

                                    <div class="col s12">
                                        <div class="pp-contenair">
                                            {% if ban != null %}

                                                <div id="imgBan" class="bg" style="background: url('{{ asset('/images/pagepro/ban/'~ban.name) }}') center no-repeat;"></div>
                                            {% else %}
                                                <div id="imgBan" class="bg" style="background: url('{{ asset('/images/pagepro/ban/default.jpg') }}') center no-repeat;"></div>
                                            {% endif %}
                                            <div class=" pp-head clearfix">

                                                {% if logo != null %}
                                                    <img id="imageLogo"  class="aligncenter img-circle img-thumbnail notopmargin nobottommargin" alt="Logo / Jeranders ma super entreprise" style="max-width: 150px;" src="{{ asset('/images/pagepro/logo/'~logo.name) }}">
                                                {% else %}
                                                    <img id="imageLogo"  class="aligncenter img-circle img-thumbnail notopmargin nobottommargin" alt="Logo / Jeranders ma super entreprise" style="max-width: 150px;" src="{{ asset('/images/pagepro/logo/default.png') }}">
                                                {% endif %}

                                                <div class="center pp-header">
                                                    <h1>{{ check.name }}</h1>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="col s6 l6 ">
                                        {{ form_label(form.imageLogo) }}
                                        {{ form_widget(form.imageLogo, {'attr': {'class': 'input-field', 'onchange': 'imgLogo(this);'}} ) }}
                                        {% if not form.imageLogo.vars.valid %}
                                            {% for error in form.imageLogo.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="col s6 col-sm-12 ">
                                        {{ form_label(form.imageBan) }}
                                        {{ form_widget(form.imageBan, {'attr': {'class': 'input-field', 'onchange': 'imgBan(this);'}} ) }}
                                        {% if not form.imageBan.vars.valid %}
                                            {% for error in form.imageBan.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="col s12 ">
                                        {{ form_label(form.description) }}
                                        {{ form_widget(form.description, {'attr': {'class': 'input-field'}}) }}
                                        {% if not form.description.vars.valid %}
                                            {% for error in form.description.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12">
                                        <button class="btn green waves-effect waves-light left" type="submit">Modifier
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>

                                    {{ form_end(form) }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content-overlay"></div>
        </div>
    </div>

{% endblock %}

 {% block javascripts %}

     <script src="{{ asset('pagepro/vendors/select2/select2.full.min.js') }}"></script>
     <script src="{{ asset('pagepro/js/scripts/form-select2.js') }}"></script>

 {% endblock %}