{% extends 'pagepro/base.html.twig' %}

{% block title %}Edition vos horaires | {{ parent()}} {% endblock %}

{% block body %}

    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Edition des horaires</span></h5>
                        <ol class="breadcrumbs mb-0">
                            <li class="breadcrumb-item"><a href="#">Modifier vos horaires</a></li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="container">

                <div class="section">
                    <div class="card">
                        <div class="card-content">
                            <div class="caption mb-0 center">

                                <div class="row">
                                    <div class="col s12">
                                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
                                        <table class="highlight">
                                            <thead>
                                            <tr>
                                                <th>Jour</th>
                                                <th>Matin</th>
                                                <th>Après-midi</th>
                                                <th>Fermeture</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Lundi</td>
                                                <td>{{ form_widget(form.mon_pm) }} à {{ form_widget(form.mon_pm_end) }}</td>
                                                <td>{{ form_widget(form.mon_am) }} à {{ form_widget(form.mon_am_end) }}</td>
                                                <td>
                                                    {{ form_widget(form.close_mon) }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Mardi</td>
                                                <td>{{ form_widget(form.tue_pm) }} à {{ form_widget(form.tue_pm_end) }}</td>
                                                <td>{{ form_widget(form.tue_am) }} à {{ form_widget(form.tue_am_end) }}</td>
                                                <td>
                                                    {{ form_widget(form.close_tue) }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Mercredi</td>
                                                <td>{{ form_widget(form.wed_pm) }} à {{ form_widget(form.wed_pm_end) }}</td>
                                                <td>{{ form_widget(form.wed_am) }} à {{ form_widget(form.wed_am_end) }}</td>
                                                <td>
                                                    {{ form_widget(form.close_wed) }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Jeudi</td>
                                                <td>{{ form_widget(form.thu_pm) }} à {{ form_widget(form.thu_pm_end) }}</td>
                                                <td>{{ form_widget(form.thu_am) }} à {{ form_widget(form.thu_am_end) }}</td>
                                                <td>
                                                    {{ form_widget(form.close_thu) }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Vendredi</td>
                                                <td>{{ form_widget(form.fri_pm) }} à {{ form_widget(form.fri_pm_end) }}</td>
                                                <td>{{ form_widget(form.fri_am) }} à {{ form_widget(form.fri_am_end) }}</td>
                                                <td>
                                                    {{ form_widget(form.close_fri) }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Samedi</td>
                                                <td>{{ form_widget(form.sat_pm) }} à {{ form_widget(form.sat_pm_end) }}</td>
                                                <td>{{ form_widget(form.sat_am) }} à {{ form_widget(form.sat_am_end) }}</td>
                                                <td>
                                                    {{ form_widget(form.close_sat) }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Dimanche</td>
                                                <td>{{ form_widget(form.sun_pm) }} à {{ form_widget(form.sun_pm_end) }}</td>
                                                <td>{{ form_widget(form.sun_am) }} à {{ form_widget(form.sun_am_end) }}</td>
                                                <td>
                                                    {{ form_widget(form.close_sun) }}
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>

                                        <div class="input-field col s12">
                                            <button class="btn green waves-effect waves-light left" type="submit">Modifier
                                                <i class="material-icons right">send</i>
                                            </button>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content-overlay"></div>
        </div>
    </div>

{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('js/schedule.js') }}"></script>
 {% endblock %}