{% extends 'pagepro/base.html.twig' %}

{% block title %}Edition vos réseaux sociaux | {{ parent()}} {% endblock %}

{% block stylesheets %}
    <script src="https://kit.fontawesome.com/400120767b.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
                <div class="row">
                    <div class="col s10 m12 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Edition des réseaux sociaux</span></h5>
                        <ol class="breadcrumbs mb-0">
                            <li class="breadcrumb-item"><a href="#">Modifier les liens de vos réseaux sociaux</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="container">

                <div class="section">
                    <div class="card">
                        <div class="card-content">
                            <p class="caption">
                                <strong>Info :</strong> Vous êtes sur des réseaux sociaux qui ne sont pas disponible ici ?
                                <a href="">Dites le nous</a>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="caption mb-0">

                                <div class="row">


                                    {{ form_start(form) }}

                                    <div class="input-field col s12 m12 l6">
                                        <i class="fab fa-facebook-f prefix"></i>
                                        {{ form_widget(form.facebook, {'attr': {'class': 'input-field'}}) }}
                                        {{ form_label(form.facebook) }}

                                        {% if not form.facebook.vars.valid %}
                                            {% for error in form.facebook.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}

                                    </div>

                                    <div class="input-field col s12 m12 l6">
                                        <i class="fab fa-twitter prefix"></i>

                                        {{ form_widget(form.twitter, {'attr': {'class': 'input-field'}}) }}
                                        {{ form_label(form.twitter) }}

                                        {% if not form.twitter.vars.valid %}
                                            {% for error in form.twitter.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12 m12 l6">
                                        <i class="fab fa-instagram prefix"></i>

                                        {{ form_widget(form.instagram, {'attr': {'class': 'input-field'}}) }}
                                        {{ form_label(form.instagram) }}

                                        {% if not form.instagram.vars.valid %}
                                            {% for error in form.instagram.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12 m12 l6">
                                        <i class="fab fa-linkedin prefix"></i>

                                        {{ form_widget(form.linkedin, {'attr': {'class': 'input-field'}}) }}
                                        {{ form_label(form.linkedin) }}

                                        {% if not form.linkedin.vars.valid %}
                                            {% for error in form.linkedin.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12 m12 l6">
                                        <i class="fab fa-youtube prefix"></i>

                                        {{ form_widget(form.youtube, {'attr': {'class': 'input-field'}}) }}
                                        {{ form_label(form.youtube) }}

                                        {% if not form.youtube.vars.valid %}
                                            {% for error in form.youtube.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12 m12 l6">
                                        <i class="fab fa-github prefix"></i>

                                        {{ form_widget(form.github, {'attr': {'class': 'input-field'}}) }}
                                        {{ form_label(form.github) }}

                                        {% if not form.github.vars.valid %}
                                            {% for error in form.github.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12 m12 l6">
                                        <i class="fab fa-twitch prefix"></i>

                                        {{ form_widget(form.twitch, {'attr': {'class': 'input-field'}}) }}
                                        {{ form_label(form.twitch) }}

                                        {% if not form.twitch.vars.valid %}
                                            {% for error in form.twitch.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12 m12 l6">
                                        <i class="fab fa-tumblr prefix"></i>

                                        {{ form_widget(form.tumblr, {'attr': {'class': 'input-field'}}) }}
                                        {{ form_label(form.tumblr) }}

                                        {% if not form.tumblr.vars.valid %}
                                            {% for error in form.tumblr.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12 m12 l6">
                                        <i class="fab fa-viadeo prefix"></i>

                                        {{ form_widget(form.viadeo, {'attr': {'class': 'input-field'}}) }}
                                        {{ form_label(form.viadeo) }}

                                        {% if not form.viadeo.vars.valid %}
                                            {% for error in form.viadeo.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12 m12 l6">
                                        <i class="fab fa-pinterest prefix"></i>

                                        {{ form_widget(form.pinterest, {'attr': {'class': 'input-field'}}) }}
                                        {{ form_label(form.pinterest) }}

                                        {% if not form.pinterest.vars.valid %}
                                            {% for error in form.pinterest.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12 m12 l6">
                                        <i class="fab fa-flickr prefix"></i>

                                        {{ form_widget(form.flickr, {'attr': {'class': 'input-field'}}) }}
                                        {{ form_label(form.flickr) }}

                                        {% if not form.flickr.vars.valid %}
                                            {% for error in form.flickr.vars.errors %}
                                                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="w-100"></div>

                                    <div class="input-field col s12">
                                        <button class="btn green waves-effect waves-light left" type="submit">Modifier
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>

                                    {{ form_end(form) }}

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content-overlay"></div>
        </div>
    </div>

{% endblock %}

 {% block javascripts %}
 {% endblock %}