<!-- BEGIN: Header-->
<header class="page-topbar" id="header">
    <div class="navbar navbar-fixed">
        <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-indigo-purple no-shadow">
            <div class="nav-wrapper">
                <div class="header-search-wrapper hide-on-med-and-down">
                    <i class="material-icons">search</i>
                    <input class="header-search-input z-depth-2" type="text" name="Search" placeholder="Explore Materialize" data-search="template-list">
                    <ul class="search-list collection display-none"></ul>
                </div>
                <ul class="navbar-list right">

                    <li class="hide-on-large-only search-input-wrapper">
                        <a class="waves-effect waves-block waves-light search-button" href="javascript:void(0);">
                            <i class="material-icons">search</i>
                        </a>
                    </li>

                    <li>
                        <a class="waves-effect waves-block waves-light notification-button" href="javascript:void(0);" data-target="notifications-dropdown">
                            <i class="material-icons">notifications_none
                                <small class="notification-badge">5</small>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-block waves-light notification-button" href="javascript:void(0);" data-target="cart-dropdown">
                            <i class="material-icons">shopping_cart
                                <small class="notification-badge">5</small>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown">
                            <i class="material-icons">account_circle</i>
                        </a>
                    </li>
                </ul>

                <!-- notifications-dropdown-->
                <ul class="dropdown-content" id="notifications-dropdown">
                    <li>
                        <h6>NOTIFICATIONS
                            <span class="new badge">5</span>
                        </h6>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="black-text" href="#">
                            <span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span>
                            A new order has been placed!
                        </a>
                        <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">2 hours ago </time>
                    </li>
                    <li>
                        <a class="black-text" href="#">
                            <span class="material-icons icon-bg-circle red small">stars</span> Completed the task
                        </a>
                        <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                    </li>
                    <li>
                        <a class="black-text" href="#">
                            <span class="material-icons icon-bg-circle teal small">settings</span>
                            Settings updated
                        </a>
                        <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">4 days ago </time>
                    </li>
                    <li>
                        <a class="black-text" href="#">
                            <span class="material-icons icon-bg-circle deep-orange small">today</span>
                            Director meeting started
                        </a>
                        <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                    </li>
                    <li>
                        <a class="black-text" href="#">
                            <span class="material-icons icon-bg-circle amber small">trending_up</span>
                            Generate monthly report
                        </a>
                        <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                    </li>
                </ul>
                <!-- cart-dropdown-->
                <ul class="dropdown-content" id="cart-dropdown">
                    <li>
                        <h6>Mon panier
                            <span class="product badge">4</span>
                        </h6>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" class="black-text">
                            <img class="product-status" src="{{ asset('pagepro/images/avatar/avatar-7.png') }}" alt="avatar">
                            one
                            <span class="new badge right">1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="black-text">
                            <img class="product-status" src="{{ asset('pagepro/images/avatar/avatar-7.png') }}" alt="avatar">
                            one
                            <span class="new badge right">1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="black-text">
                            <img class="product-status" src="{{ asset('pagepro/images/avatar/avatar-7.png') }}" alt="avatar">
                            one
                            <span class="new badge right">1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="black-text">
                            <img class="product-status" src="{{ asset('pagepro/images/avatar/avatar-7.png') }}" alt="avatar">
                            one
                            <span class="new badge right">1</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" class="center red-text">Total 2,00 €</a></li>
                </ul>
                <!-- profile-dropdown-->
                <ul class="dropdown-content" id="profile-dropdown">
                    <li>
                        <a class="grey-text text-darken-1" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                </ul>
            </div>
            <nav class="display-none search-sm">
                <div class="nav-wrapper">
                    <form id="navbarForm">
                        <div class="input-field search-input-sm">
                            <input class="search-box-sm mb-0" type="search" required="" id="search" placeholder="Explore Materialize" data-search="template-list">
                            <label class="label-icon" for="search">
                                <i class="material-icons search-sm-icon">search</i>
                            </label>
                            <i class="material-icons search-sm-close">close</i>
                            <ul class="search-list collection search-list-sm display-none"></ul>
                        </div>
                    </form>
                </div>
            </nav>
        </nav>
    </div>
</header>
<!-- END: Header-->

<ul class="display-none" id="default-search-main">
    <li class="auto-suggestion-title"><a class="collection-item" href="#">
            <h6 class="search-title">FILES</h6>
        </a>
    </li>
    <li class="auto-suggestion">
        <a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar">
                        <img src="{{ asset('pagepro/images/icon/pdf-image.png') }}" width="24" height="30" alt="sample image">
                    </div>
                    <div class="member-info display-flex flex-column">
                        <span class="black-text">Two new item submitted</span>
                        <small class="grey-text">Marketing Manager</small>
                    </div>
                </div>
                <div class="status">
                    <small class="grey-text">17kb</small>
                </div>
            </div>
        </a>
    </li>
    <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar">
                        <img src="{{ asset('pagepro/images/icon/doc-image.png') }}" width="24" height="30" alt="sample image">
                    </div>
                    <div class="member-info display-flex flex-column">
                        <span class="black-text">52 Doc file Generator</span>
                        <small class="grey-text">FontEndDeveloper</small>
                    </div>
                </div>
                <div class="status">
                    <small class="grey-text">550kb</small>
                </div>
            </div>
        </a>
    </li>
    <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar">
                        <img src="{{ asset('pagepro/images/icon/xls-image.png') }}" width="24" height="30" alt="sample image">
                    </div>
                    <div class="member-info display-flex flex-column">
                        <span class="black-text">25 Xls File Uploaded</span>
                        <small class="grey-text">Digital Marketing Manager</small>
                    </div>
                </div>
                <div class="status">
                    <small class="grey-text">20kb</small>
                </div>
            </div>
        </a>
    </li>
    <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar">
                        <img src="{{ asset('pagepro/images/icon/jpg-image.png') }}" width="24" height="30" alt="sample image">
                    </div>
                    <div class="member-info display-flex flex-column">
                        <span class="black-text">Anna Strong</span>
                        <small class="grey-text">Web Designer</small>
                    </div>
                </div>
                <div class="status">
                    <small class="grey-text">37kb</small>
                </div>
            </div>
        </a>
    </li>
    <li class="auto-suggestion-title">
        <a class="collection-item" href="#">
            <h6 class="search-title">MEMBERS</h6>
        </a>
    </li>
    <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar">
                        <img class="circle" src="{{ asset('pagepro/images/avatar/avatar-7.png') }}" width="30" alt="sample image">
                    </div>
                    <div class="member-info display-flex flex-column">
                        <span class="black-text">John Doe</span>
                        <small class="grey-text">UI designer</small>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar">
                        <img class="circle" src="{{ asset('pagepro/images/avatar/avatar-8.png') }}" width="30" alt="sample image">
                    </div>
                    <div class="member-info display-flex flex-column">
                        <span class="black-text">Michal Clark</span>
                        <small class="grey-text">FontEnd Developer</small>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar">
                        <img class="circle" src="{{ asset('pagepro/images/avatar/avatar-10.png') }}" width="30" alt="sample image">
                    </div>
                    <div class="member-info display-flex flex-column">
                        <span class="black-text">Milena Gibson</span>
                        <small class="grey-text">Digital Marketing</small>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar">
                        <img class="circle" src="{{ asset('pagepro/images/avatar/avatar-12.png') }}" width="30" alt="sample image">
                    </div>
                    <div class="member-info display-flex flex-column">
                        <span class="black-text">Anna Strong</span>
                        <small class="grey-text">Web Designer</small>
                    </div>
                </div>
            </div>
        </a></li>
</ul>
<ul class="display-none" id="page-search-title">
    <li class="auto-suggestion-title"><a class="collection-item" href="#">
            <h6 class="search-title">PAGES</h6>
        </a>
    </li>
</ul>
<ul class="display-none" id="search-not-found">
    <li class="auto-suggestion">
        <a class="collection-item display-flex align-items-center" href="#">
            <span class="material-icons">error_outline</span><span class="member-info">No results found.</span>
        </a>
    </li>
</ul>