{% extends 'pagepro/base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/css/pages/dashboard-modern.css') }}">
{% endblock %}
{% block body %}

    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Accueil</span></h5>
                        <ol class="breadcrumbs mb-0">
                            <li class="breadcrumb-item"><a href="#">Panneaux de control</a>
                            </li>

                        </ol>
                    </div>
                    <div class="col s2 m6 l6"><a
                                class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#"
                                data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span
                                    class="hide-on-small-onl">Settings</span><i class="material-icons right">arrow_drop_down</i></a>
                        <ul class="dropdown-content" id="dropdown1" tabindex="0">
                            <li tabindex="0"><a class="grey-text text-darken-2"
                                                href="#">Profile<span
                                            class="new badge red">2</span></a></li>
                            <li tabindex="0"><a class="grey-text text-darken-2" href="#">Contacts</a>
                            </li>
                            <li tabindex="0"><a class="grey-text text-darken-2" href="#">FAQ</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li tabindex="0"><a class="grey-text text-darken-2" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="container">

                {% if check == null %}
                    <div class="section">
                        <div class="card">
                            <div class="card-content">
                                <div class="caption mb-0 center">
                                    <h5>Créer votre page maintenant !</h5>
                                    <p>Pour pouvoir ouvrir votre page professionnel, vous devez ajouter vos informations (adresse, téléphone...)</p>
                                    <a href="{{ path('add_page_pro') }}" class="waves-effect waves-light mt-3 btn-large red accent-4 pulse">Créer votre page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col s12 m6 l4">
                        <div class="card padding-4 animate fadeLeft">
                            <div class="row">
                                <div class="col s5 m5">
                                    <h5 class="mb-0">1885</h5>
                                    <p class="no-margin">New</p>
                                    <p class="mb-0 pt-8">1,12,900</p>
                                </div>
                                <div class="col s7 m7 right-align">
                                    <i class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">perm_identity</i>
                                    <p class="mb-0">Total Clients</p>
                                </div>
                            </div>
                        </div>
                        <div id="chartjs" class="card pt-0 pb-0 animate fadeLeft">
                            <div class="dashboard-revenue-wrapper padding-2 ml-2">
                                <span class="new badge gradient-45deg-indigo-purple gradient-shadow mt-2 mr-2">+ 15</span>
                                <p class="mt-2 mb-0 font-weight-600">Nombre de commande</p>
                                <p class="no-margin grey-text lighten-3">13 moyenne</p>
                                <h5>26 Total</h5>
                            </div>
                            <div class="sample-chart-wrapper card-gradient-chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                <canvas id="custom-line-chart-sample-three" class="center chartjs-render-monitor" style="display: block; width: 403px; height: 201px;" width="403" height="201"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l8">
                        <div class="card subscriber-list-card animate fadeRight">
                            <div class="card-content pb-1">
                                <h4 class="card-title mb-0">Dernières commandes
                                    <i class="dropdown-trigger  dropdown-settings material-icons float-right" data-target='dropdown3'>more_vert</i></h4>
                                <ul id='dropdown3' class='dropdown-content'>
                                    <li tabindex="0"><a class="grey-text text-darken-2" href="#">Voir les commandes</a></li>
                                    <li class="divider" tabindex="-1"></li>
                                </ul>
                            </div>

                            <table class="subscription-table responsive-table highlight">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Pro/Parti</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Michael Austin</td>
                                    <td>ABC Fintech LTD.</td>
                                    <td>Jan 1,2019</td>
                                    <td><span class="badge pink lighten-5 pink-text text-accent-2">Close</span></td>
                                    <td>25 €</td>
                                    <td class="center-align"><a href="#"><i class="material-icons blue-text">pageview</i></a></td>
                                </tr>
                                <tr>
                                    <td>Aldin Rakić</td>
                                    <td>ACME Pvt LTD.</td>
                                    <td>Jan 10,2019</td>
                                    <td><span class="badge green lighten-5 green-text text-accent-4">Open</span></td>
                                    <td>39 €</td>
                                    <td class="center-align"><a href="#"><i class="material-icons blue-text">pageview</i></a></td>
                                </tr>
                                <tr>
                                    <td>İris Yılmaz</td>
                                    <td>Collboy Tech LTD.</td>
                                    <td>Jan 12,2019</td>
                                    <td><span class="badge green lighten-5 orange-text text-accent-4">Attente</span></td>
                                    <td>85 €</td>
                                    <td class="center-align"><a href="#"><i class="material-icons blue-text">pageview</i></a></td>
                                </tr>
                                <tr>
                                    <td>Lidia Livescu</td>
                                    <td>My Fintech LTD.</td>
                                    <td>Jan 14,2019</td>
                                    <td><span class="badge pink lighten-5 pink-text text-accent-2">Close</span></td>
                                    <td>68 €</td>
                                    <td class="center-align"><a href="#"><i class="material-icons blue-text">pageview</i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content-overlay"></div>
        </div>
    </div>

{% endblock %}

