{% extends 'pagepro/base.html.twig' %}

{% block title %}Boîte de réception | {{ parent()}} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/vendors/quill/quill.snow.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/css/pages/app-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('pagepro/css/pages/app-email.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="col s12">

            <div class="container">
                <div class="email-overlay"></div>
                <div class="sidebar-left sidebar-fixed">
                    <div class="sidebar">
                        <div class="sidebar-content">
                            <div class="sidebar-header">
                                <div class="sidebar-details">
                                    <h5 class="m-0 sidebar-title">
                                        <i class="material-icons app-header-icon text-top">mail_outline</i>
                                        Boite de réception
                                    </h5>
                                    <div class="row valign-wrapper mt-10 pt-2 animate fadeLeft">
                                        <div class="col s3 media-image">
                                            {% if check.imageLogo == null %}
                                                <img src="{{ asset('/images/pagepro/logo/default.png') }}" alt="" class="circle z-depth-2 responsive-img">
                                            {% else %}
                                                <img src="{{ asset('/images/pagepro/logo/'~check.imageLogo.name) }}" alt="" class="circle z-depth-2 responsive-img">
                                            {% endif %}
                                            <!-- notice the "circle" class -->
                                        </div>
                                        <div class="col s9">
                                            <p class="m-0 subtitle font-weight-700">{{ check.name }}</p>
                                            <p class="m-0 text-muted"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="sidebar-list" class="sidebar-menu list-group position-relative animate fadeLeft ps ps--active-y">
                                <div class="sidebar-list-padding app-sidebar" id="email-sidenav">
                                    <ul class="email-list display-grid">
                                        <li class="sidebar-title">Folders</li>
                                        <li class="active">
                                            <a href="#" class="text-sub">
                                                <i class="material-icons mr-2"> mail_outline </i>
                                                Inbox
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#" class="text-sub">
                                                <i class="material-icons mr-2"> send </i>
                                                Sent
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-sub">
                                                <i class="material-icons mr-2"> description </i>
                                                Draft
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-sub">
                                                <i class="material-icons mr-2"> info_outline </i>
                                                Span
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-sub">
                                                <i class="material-icons mr-2"> delete </i>
                                                Trash
                                            </a>
                                        </li>
                                        <li class="sidebar-title">Filters</li>
                                        <li>
                                            <a href="#" class="text-sub">
                                                <i class="material-icons mr-2"> star_border </i>
                                                Starred
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-sub">
                                                <i class="material-icons mr-2"> label_outline </i>
                                                Important
                                            </a>
                                        </li>
                                        <li class="sidebar-title">Labels</li>
                                        <li>
                                            <a href="#" class="text-sub">
                                                <i class="purple-text material-icons small-icons mr-2">fiber_manual_record</i>
                                                Note
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-sub">
                                                <i class="amber-text material-icons small-icons mr-2">fiber_manual_record </i> Paypal
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-sub">
                                                <i class="light-green-text material-icons small-icons mr-2">fiber_manual_record </i> Invoice</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <a href="#" data-target="email-sidenav" class="sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
                        </div>
                    </div>
                </div>

                <div class="app-email">

                    <div class="content-area content-right">
                        <div class="app-wrapper">
                            <div class="app-search">
                                <i class="material-icons mr-2 search-icon">search</i>
                                <input type="text" placeholder="Search Mail" class="app-filter" id="email_filter">
                            </div>
                            <div class="card card card-default scrollspy border-radius-6 fixed-width">
                                <div class="card-content p-0 pb-2">
                                    <div class="email-header">
                                        <div class="left-icons">
                                            <span class="header-checkbox">
                                                <label>
                                                    <input type="checkbox" onclick="toggle(this)" value="">
                                                    <span></span>
                                                </label>
                                            </span>
                                            <span class="action-icons">
                                                <i class="material-icons">refresh</i>
                                                <i class="material-icons">mail_outline</i>
                                                <i class="material-icons">label_outline</i>
                                                <i class="material-icons">folder_open</i>
                                                <i class="material-icons">info_outline</i>
{#                                                <a href="{{ path('delete_message_pro', {'id': app.user.id, 'token': csrf_token('delete_message_pro') } ) }}"><i class="material-icons delete-mails">delete</i></a>#}
                                                <a href="{{ path('delete_message_pro') }}"><i class="material-icons delete-mails">delete</i></a>
                                                <i class="material-icons delete-mails">delete</i>
                                            </span>
                                        </div>
                                        <div class="list-content"></div>
                                        <div class="email-action">
                                            <span class="email-options"><i class="material-icons grey-text">more_vert</i></span>
                                        </div>
                                    </div>
                                    <div class="collection email-collection ps ps--active-y" style="max-height: 261px;">
                                        {% for message in lists %}

                                            <div class="email-brief-info collection-item animate fadeUp">
                                                <div class="list-left">
                                                    <label>
                                                        <input type="checkbox" id="{{ message.id }}" name="foo" value="{{ message.id }}">
                                                        <span></span>
                                                    </label>
                                                    {% if message.view == 1 %}
                                                        <div class="visibility">
                                                            <i class="material-icons visibility-view tooltipped" data-position="top" data-tooltip="Ouvert le {{ message.viewAt|date('d/m/Y à H:i') }}">visibility</i>
                                                        </div>
                                                    {% else %}
                                                        <div class="visibility">
                                                            <i class="material-icons visibility-not-view">visibility_off</i>
                                                        </div>
                                                    {% endif %}
                                                    <div class="email-label">
                                                        <i class="material-icons">label_outline</i>
                                                    </div>
                                                </div>
                                                <a class="list-content" href="{{ path('show_message', {'id': message.id, 'token': csrf_token('show_message') } ) }}">
                                                    <div class="list-title-area">
                                                        <div class="user-media">
                                                            <img src="" alt="">
                                                            <div class="list-title">{{ message.user.firstName|capitalize }} {{ message.user.lastName|capitalize }}</div>
                                                        </div>
                                                        <div class="title-right">
                                                        <span class="attach-file">
                                                          <i class="material-icons">attach_file</i>
                                                        </span>
                                                            <span class="badge grey lighten-3">
                                                                <i class="amber-text material-icons small-icons mr-2">fiber_manual_record </i>
                                                                Paypal
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="list-desc">{{ message.subject|truncate(120)|capitalize }}</div>
                                                </a>
                                                <div class="list-right">
                                                    <div class="list-date"> {{ message.createdAt|date('d/m') }} </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content-overlay"></div>
        </div>
    </div>

{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('pagepro/vendors/quill/quill.min.js') }}"></script>
     <script src="{{ asset('pagepro/js/scripts/app-email.js') }}"></script>
     <script>
         $(".app-email .delete-mails").on("click", function () {

             const list = $(".collection-item").find("input:checked");

             let listId = [];

             $( list ).each(function( index ) {
                 let byId = $(this).attr('id');
                 listId.push(byId);
             });

             $(".collection-item")
                 .find("input:checked")
                 .closest(".collection-item")
             // .remove();

             console.log(listId);

             $.ajax({
                 url:        "{{ path('delete_message_pro') }}",
                 method:     'GET',
                 dataType:   'json',
                 data:       {listId: listId},
                 success: function() {
                     console.log(listId);
                 },
                 error: function () {
                     console.log('erreur !');
                 }
             });

         });
     </script>
 {% endblock %}
