<div class="pp-contenair">

    {% if page.imageBan != null %}
        <div class="bg" style="background: url('{{ asset('/images/pagepro/ban/'~page.imageBan.name) }}') center no-repeat;"></div>
    {% else %}
        <div class="bg" style="background: url('{{ asset('/images/pagepro/ban/default.jpg') }}') center no-repeat;"></div>
    {% endif %}

    <div class="container pp-head clearfix">

        {% if page.imageLogo == null %}
            <img class="aligncenter img-circle img-thumbnail notopmargin nobottommargin"     alt="Logo / {{ page.name }}" style="max-width: 150px;" src="{{ asset('images/pagepro/logo/default.png') }}" >
        {% else %}
            <img class="aligncenter img-circle img-thumbnail notopmargin nobottommargin" alt="Logo / {{ page.name }}" style="max-width: 150px;" src="{{ asset('/images/pagepro/logo/'~page.imageLogo.name) }}" >
        {% endif %}

        <div class="center pp-header">
            <h1>{{ page.name }} </h1>
        </div>


    </div>

</div>

<div id="page-menu" class="no-sticky">
    <div id="page-menu-wrap">
        <div class="container clearfix">
            <div class="menu-title">
                <a href=""><i data-toggle="tooltip" data-placement="top" title="Mettre en favoris" class="i-bookmark icon-bookmark21"></i></a>
                <a href="profil_pro.php" data-toggle="tooltip" data-placement="top" title="{{ page.name }}" class="pp-menu">Accueil</a>
                <a href="" data-toggle="modal" data-target="#horaires" class="pp-menu">Horaires</a>
                <a href="faq.php" class="pp-menu">FAQ</a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">Magasin en ligne</a>
                    </li>
                    <li>
                        <a href="">Lorem</a>
                    </li>
                    <li>
                        <a href="#">Offre d'emploi </a>
                    </li>
                    <li>
                        <a href="{{ path('contact_page', { 'slug':page.slug } ) }}">Contact</a>
                    </li>

                </ul>
            </nav>
            <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

        </div>

    </div>
</div>
