<div class="modal fade" id="horaires" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Nos horaires</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    {% if page.schedulePublished == 0 %}
                    <div class="style-msg infomsg">
                        <div class="sb-msg">
                            <i class="icon-info-sign"></i><strong>Info :</strong> Les horaires ne sont pas publiés
                        </div>
                    </div>
                    {% else %}
                        <table class="table schedule">

                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Jour</th>
                                <th scope="col">Matin</th>
                                <th scope="col">Après-Midi</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>Lundi</td>
                                {% if page.schedule.closeMon == 'close_day' %}
                                    <td>Fermé</td>
                                    <td>Fermé</td>
                                {% elseif page.schedule.closeMon == 'close_pm' %}
                                    <td>Fermé</td>
                                    <td>{{ page.schedule.monAm|date("H:i") }} à {{ page.schedule.monAmEnd|date("H:i") }}</td>
                                {% elseif page.schedule.closeMon == 'close_am' %}
                                    <td>{{ page.schedule.monPm|date("H:i") }} à {{ page.schedule.monPmEnd|date("H:i") }}</td>
                                    <td>Fermé</td>
                                {% else %}
                                    <td>{{ page.schedule.monPm|date("H:i") }} à {{ page.schedule.monPmEnd|date("H:i") }}</td>
                                    <td>{{ page.schedule.monAm|date("H:i") }} à {{ page.schedule.monAmEnd|date("H:i") }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Mardi</td>
                                {% if page.schedule.closeTue == 'close_day' %}
                                    <td>Fermé</td>
                                    <td>Fermé</td>
                                {% elseif page.schedule.closeTue == 'close_pm' %}
                                    <td>Fermé</td>
                                    <td>{{ page.schedule.tueAm|date("H:i") }} à {{ page.schedule.tueAmEnd|date("H:i") }}</td>
                                {% elseif page.schedule.closeTue == 'close_am' %}
                                    <td>{{ page.schedule.tuePm|date("H:i") }} à {{ page.schedule.tuePmEnd|date("H:i") }}</td>
                                    <td>Fermé</td>
                                {% else %}
                                    <td>{{ page.schedule.tuePm|date("H:i") }} à {{ page.schedule.tuePmEnd|date("H:i") }}</td>
                                    <td>{{ page.schedule.tueAm|date("H:i") }} à {{ page.schedule.tueAmEnd|date("H:i") }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Mercredi</td>
                                {% if page.schedule.closeWed == 'close_day' %}
                                    <td>Fermé</td>
                                    <td>Fermé</td>
                                {% elseif page.schedule.closeWed == 'close_pm' %}
                                    <td>Fermé</td>
                                    <td>{{ page.schedule.wedAm|date("H:i") }} à {{ page.schedule.wedAmEnd|date("H:i") }}</td>
                                {% elseif page.schedule.closeWed == 'close_am' %}
                                    <td>{{ page.schedule.wedPm|date("H:i") }} à {{ page.schedule.wedPmEnd|date("H:i") }}</td>
                                    <td>Fermé</td>
                                {% else %}
                                    <td>{{ page.schedule.wedPm|date("H:i") }} à {{ page.schedule.wedPmEnd|date("H:i") }}</td>
                                    <td>{{ page.schedule.wedAm|date("H:i") }} à {{ page.schedule.wedAmEnd|date("H:i") }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Jeudi</td>
                                {% if page.schedule.closeThu == 'close_day' %}
                                    <td>Fermé</td>
                                    <td>Fermé</td>
                                {% elseif page.schedule.closeThu == 'close_pm' %}
                                    <td>Fermé</td>
                                    <td>{{ page.schedule.tueAm|date("H:i") }} à {{ page.schedule.tueAmEnd|date("H:i") }}</td>
                                {% elseif page.schedule.closeThu == 'close_am' %}
                                    <td>{{ page.schedule.thuPm|date("H:i") }} à {{ page.schedule.thuPmEnd|date("H:i") }}</td>
                                    <td>Fermé</td>
                                {% else %}
                                    <td>{{ page.schedule.thuPm|date("H:i") }} à {{ page.schedule.thuPmEnd|date("H:i") }}</td>
                                    <td>{{ page.schedule.thuAm|date("H:i") }} à {{ page.schedule.thuAmEnd|date("H:i") }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Vendredi</td>
                                {% if page.schedule.closeFri == 'close_day' %}
                                    <td>Fermé</td>
                                    <td>Fermé</td>
                                {% elseif page.schedule.closeFri == 'close_pm' %}
                                    <td>Fermé</td>
                                    <td>{{ page.schedule.friAm|date("H:i") }} à {{ page.schedule.friAmEnd|date("H:i") }}</td>
                                {% elseif page.schedule.closeFri == 'close_am' %}
                                    <td>{{ page.schedule.friPm|date("H:i") }} à {{ page.schedule.friPmEnd|date("H:i") }}</td>
                                    <td>Fermé</td>
                                {% else %}
                                    <td>{{ page.schedule.friPm|date("H:i") }} à {{ page.schedule.friPmEnd|date("H:i") }}</td>
                                    <td>{{ page.schedule.friAm|date("H:i") }} à {{ page.schedule.friAmEnd|date("H:i") }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Samedi</td>
                                {% if page.schedule.closeSat == 'close_day' %}
                                    <td>Fermé</td>
                                    <td>Fermé</td>
                                {% elseif page.schedule.closeSat == 'close_pm' %}
                                    <td>Fermé</td>
                                    <td>{{ page.schedule.satAm|date("H:i") }} à {{ page.schedule.satAmEnd|date("H:i") }}</td>
                                {% elseif page.schedule.closeSat == 'close_am' %}
                                    <td>{{ page.schedule.satPm|date("H:i") }} à {{ page.schedule.satPmEnd|date("H:i") }}</td>
                                    <td>Fermé</td>
                                {% else %}
                                    <td>{{ page.schedule.satPm|date("H:i") }} à {{ page.schedule.satPmEnd|date("H:i") }}</td>
                                    <td>{{ page.schedule.satAm|date("H:i") }} à {{ page.schedule.satAmEnd|date("H:i") }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Dimanche</td>
                                {% if page.schedule.closeSun == 'close_day' %}
                                    <td>Fermé</td>
                                    <td>Fermé</td>
                                {% elseif page.schedule.closeSun == 'close_pm' %}
                                    <td>Fermé</td>
                                    <td>{{ page.schedule.sunAm|date("H:i") }} à {{ page.schedule.sunAmEnd|date("H:i") }}</td>
                                {% elseif page.schedule.closeSun == 'close_am' %}
                                    <td>{{ page.schedule.sunPm|date("H:i") }} à {{ page.schedule.sunPmEnd|date("H:i") }}</td>
                                    <td>Fermé</td>
                                {% else %}
                                    <td>{{ page.schedule.sunPm|date("H:i") }} à {{ page.schedule.sunPmEnd|date("H:i") }}</td>
                                    <td>{{ page.schedule.sunAm|date("H:i") }} à {{ page.schedule.sunAmEnd|date("H:i") }}</td>
                                {% endif %}
                            </tr>


                            </tbody>

                        </table>

                            {% endif %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
