{% extends 'base.html.twig' %}

{% block title %}Aperçu Ma boutique | {{ parent()}} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
{% endblock %}
{% block body %}

    <a href="{{ path('pro_profile', {'id': app.user.id}) }}" class="button button-3d button-rounded button-green">
        <i class="icon-line-arrow-left"></i>
        Retour profil
    </a>
    <div class="style-msg" style="background-color: #EEE;">
        <div class="sb-msg">
            <i class="icon-question-sign"></i>
            Votre page n'est pas encore validé par Mon Avesnois.
            <a href="">En savoir plus</a>
        </div>
    </div>

    {% include "pagepro/menu.html.twig" %}

    <section class="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="postcontent nobottommargin">

                    <h3>Qui sommes nous ?</h3>

                    {{ page.description|raw }}

                </div>

                <div class="sidebar col_last nobottommargin">
                    <h4>Informations</h4>

                    <address>
                        <abbr title="Adresse de la société"><strong>Adresse :</strong></abbr><br>
                        {% if page.addressPublished == 1 %}
                            {{ page.address }} {{ page.city.city }} {{ page.city.postal }}<br>
                        {% else %}
                            Adresse masqué - {{ page.city.city }} - {{ page.city.postal }}
                        {% endif %}
                    </address>

                    <abbr title="Numéro de téléphone"><strong>Tél:</strong></abbr>
                    {% if page.tel1Published == 1  %}
                        {{ page.tel1 }}
                    {% else %}
                        <i>Masqué</i>
                    {% endif %}
                    <br>

                    {% if page.tel2 != null %}
                        <abbr title="Numéro de téléphone 2"><strong>Tel2:</strong></abbr> {{ page.tel2 }}<br>
                    {% endif %}

                    {% if page.fax != null %}
                        <abbr title="Numéro de fax"><strong>Fax:</strong></abbr> {{ page.fax }}<br>
                    {% endif %}

                    <abbr title="Adresse email"><strong>Email:</strong></abbr>
                    {% if page.email1Published == 1 %}
                        {{ page.email1 }}
                    {% else %}
                        <i>Masqué</i>
                    {% endif %}
                    <br>

                    {% if page.email2 != null %}
                        <abbr title="Adresse email"><strong>Email 2:</strong></abbr> {{ page.email2 }}<br>
                    {% endif %}

                    <abbr title="Siret"><strong>SIRET:</strong></abbr>
                    {% if page.siretPublished == 1 %}
                        {{ page.siret }}
                    {% else %}
                        <i>Masqué</i>
                    {% endif %}
                    <br>

                    <abbr title="Code APE"><strong>Code APE:</strong></abbr>
                    {{ page.nafCode.nafCode }}
                    <br>

                    {% if page.website != null %}
                        <abbr title="Site Web"><strong>Site web:</strong></abbr>
                        <a href="{{ page.website }}" target="_blank">Voir le site</a>
                    {% endif %}

                    <div class="social noborder notoppadding">
                        <h4>Réseaux sociaux</h4>

                        {% if page.social.facebook != null %}
                            <a href="https://www.facebook.com/{{ page.social.facebook }}" target="_blank" class="social-icon si-colored si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                        {% endif %}

                        {% if page.social.twitter != null %}
                            <a href="https://www.twitter.com/{{ page.social.twitter }}" target="_blank" class="social-icon si-colored si-twitter"  data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                        {% endif %}

                        {% if page.social.tumblr != null %}
                            <a href="https://{{ page.social.tumblr }}/tumblr.com/" target="_blank" class="social-icon si-colored si-tumblr"  data-toggle="tooltip" data-placement="top" title="Tumblr">
                                <i class="icon-tumblr"></i>
                                <i class="icon-tumblr"></i>
                            </a>
                        {% endif %}

                        {% if page.social.youtube != null %}
                            <a href="https://www.youtube.com/user/{{ page.social.youtube }}" target="_blank" class="social-icon si-colored si-youtube"  data-toggle="tooltip" data-placement="top" title="Youtube">
                                <i class="icon-youtube"></i>
                                <i class="icon-youtube"></i>
                            </a>
                        {% endif %}

                        {% if page.social.instagram != null %}
                            <a href="https://www.instagram.com/{{ page.social.instagram }}" target="_blank" class="social-icon si-colored si-instagram"  data-toggle="tooltip" data-placement="top" title="Instagram">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>
                        {% endif %}

                        {% if page.social.viadeo != null %}
                            <a href="https://fr.viadeo.com/fr/profile/{{ page.social.viadeo }}" target="_blank" class="social-icon si-colored si-viadeo"  data-toggle="tooltip" data-placement="top" title="Viadeo">
                                <i class="icon-viadeo"></i>
                                <i class="icon-viadeo"></i>
                            </a>
                        {% endif %}

                        {% if page.social.github != null %}
                            <a href="https://github.com/{{ page.social.github }}" target="_blank" class="social-icon si-colored si-github"  data-toggle="tooltip" data-placement="top" title="Github">
                                <i class="icon-github"></i>
                                <i class="icon-github"></i>
                            </a>
                        {% endif %}

                        {% if page.social.flickr != null %}
                            <a href="https://www.flickr.com/photos/{{ page.social.flickr }}" target="_blank" class="social-icon si-colored si-flickr"  data-toggle="tooltip" data-placement="top" title="Flickr">
                                <i class="icon-flickr"></i>
                                <i class="icon-flickr"></i>
                            </a>
                        {% endif %}

                        {% if page.social.pinterest != null %}
                            <a href="https://www.pinterest.fr/{{ page.social.pinterest }}" target="_blank" class="social-icon si-colored si-pinterest"  data-toggle="tooltip" data-placement="top" title="Pinterest">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>
                        {% endif %}

                        {% if page.social.twitch != null %}
                            <a href="https://www.twitch.tv/{{ page.social.twitch }}" target="_blank" class="social-icon si-colored si-twitch"  data-toggle="tooltip" data-placement="top" title="Twitch">
                                <i class="icon-twitch"></i>
                                <i class="icon-twitch"></i>
                            </a>
                        {% endif %}

                        {% if page.social.linkedin != null %}
                            <a href="https://www.linkedin.com/in/{{ page.social.twitch }}" target="_blank" class="social-icon si-colored si-linkedin"  data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                <i class="icon-linkedin"></i>
                                <i class="icon-linkedin"></i>
                            </a>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>

    </section>

    <section class="content">

        <div class="container clairfix">

            <div class="fancy-title title-dotted-border title-center">
                <h3 id="services">Nos services / produits</h3>
            </div>


            {% if countService == 5 %}
                {% include 'pagepro/service.html.twig' %}
            {% else %}

                <a href="{{ path('add_service_page_pro') }}" class="btn btn-success">Ajouter un service</a>

            {% endif %}

        </div>

    </section>

    <section class="content">

        <div class="content-wrap">

            <div class="fancy-title title-dotted-border title-center">
                <h3>Où sommes nous ?</h3>
            </div>

            <div id="map"></div>
        </div>

    </section>


    {% include 'pagepro/modal.html.twig' %}

{% endblock %}

{% block javascripts %}

    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
    <script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js'></script>

    {% if page.addressPublished == 1 %}
        <script>

            var address = "{{ page.address }} {{ page.city.city }}";

            if(address !== ""){

                $.ajax({
                    url: "https://nominatim.openstreetmap.org/search",
                    type: 'get', // Requête de type GET
                    data: "q="+address+"&format=json&addressdetails=1&limit=1&polygon_svg=1"
                }).done(function (response) {
                    if(response !== ""){

                        if (response.length === 0) {
                            userlat = 50.2784;
                            userlon = 3.9626;
                            var info = "<b>Erreur dans l'adresse :(</b>";
                        }else {
                            userlat = response[0]['lat'];
                            userlon = response[0]['lon'];

                            var info = '<b>{{ page.name|json_encode() }}</b>';

                        }

                        var mymap = L.map('map').setView([userlat, userlon], 13);

                        L.tileLayer('//{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                            maxZoom: 18,
                            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ',
                            tileSize: 512,
                            zoomOffset: -1
                        }).addTo(mymap);
                        //
                        L.marker([userlat, userlon]).addTo(mymap)
                            .bindPopup(info).openPopup();

                    }
                }).fail(function (error) {
                    alert(error);
                });
            }

        </script>
    {% else %}
        <script>

            var address = "{{ page.city.city }} {{ page.city.cityPostal }}";

            if(address !== ""){

                $.ajax({
                    url: "https://nominatim.openstreetmap.org/search",
                    type: 'get', // Requête de type GET
                    data: "q="+address+"&format=json&addressdetails=1&limit=1&polygon_svg=1"
                }).done(function (response) {
                    if(response !== ""){

                        if (response.length === 0) {
                            userlat = 50.2784;
                            userlon = 3.9626;
                            var info = "<b>Erreur dans l'adresse :(</b>";
                        }else {
                            userlat = response[0]['lat'];
                            userlon = response[0]['lon'];
                            var info = "<b>{{ page.name|json_encode() }}</b>";
                        }

                        var mymap = L.map('map').setView([userlat, userlon], 13);

                        L.tileLayer('//{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                            maxZoom: 18,
                            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ',
                            tileSize: 512,
                            zoomOffset: -1
                        }).addTo(mymap);

                        L.marker([userlat, userlon]).addTo(mymap)
                            .bindPopup(info).openPopup();
                    }
                }).fail(function (error) {
                    alert(error);
                });
            }

        </script>
    {% endif %}

{% endblock %}