<div class="row grid-container" data-layout="masonry" style="overflow: visible; position: relative; height: 529px;">
    <div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
        <div class="flip-card text-center">
            <div class="flip-card-front dark" style="background-image: url('{{ asset('/images/pagepro/service/'~page.services.0.imgService) }}')">
                <div class="flip-card-inner">
                    <div class="card nobg noborder text-center">
                        <div class="card-body">
                            <h3 class="card-title"> {{ page.services.0.title }}</h3>
                            <p class="card-text t400"> {{ page.services.0.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card-back  " style="background: {{ page.services.0.colorBack }};">
                <div class="flip-card-inner">
                    <p class="mb-2 text-white"> {{ page.services.0.contentBack }}</p>
                    {% if page.services.0.description != null %}
                        <button type="button" class="btn btn-outline-light mt-2" data-toggle="modal" data-target=".modal-{{ page.services.0.id }}">Voir plus</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-4" style="position: absolute; left: 390px; top: 0px; transition-property: opacity, transform; transition-duration: 0.65s; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
        <div class="flip-card text-center top-to-bottom">
            <div class="flip-card-front dark" style="background-image: url('{{ asset('/images/pagepro/service/'~page.services.1.imgService) }}');">
                <div class="flip-card-inner">
                    <div class="card nobg noborder text-center">
                        <div class="card-body">
                            <h3 class="card-title"> {{ page.services.1.title }}</h3>
                            <p class="card-text t400">{{ page.services.1.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card-back" style="background: {{ page.services.1.colorBack }};">
                <div class="flip-card-inner">
                    <p class="mb-2 text-white">{{ page.services.1.contentBack }}</p>
                    {% if page.services.1.description != null %}
                        <button type="button" class="btn btn-outline-light mt-2" data-toggle="modal" data-target=".modal-{{ page.services.1.id }}">Voir plus</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-4" style="position: absolute; left: 780px; top: 0px; transition-property: opacity, transform; transition-duration: 0.65s; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
        <div class="flip-card text-center">
            <div class="flip-card-front dark" data-height-xl="505" style="background-image: url('{{ asset('/images/pagepro/service/'~page.services.2.imgService) }}'); height: 505px;">
                <div class="flip-card-inner">
                    <div class="card nobg noborder text-center">
                        <div class="card-body">
                            <h3 class="card-title">{{ page.services.2.title }}</h3>
                            <p class="card-text t400">{{ page.services.2.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card-back" data-height-xl="505" style="background: {{ page.services.2.colorBack }}; height: 505px;">
                <div class="flip-card-inner">
                    <p class="mb-2 text-white">{{ page.services.2.contentBack }}</p>
                    {% if page.services.2.description != null %}
                        <button type="button" class="btn btn-outline-light mt-2" data-toggle="modal" data-target=".modal-{{ page.services.2.id }}">Voir plus</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 304px; transition-property: opacity, transform; transition-duration: 0.65s; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
        <div class="flip-card text-center top-to-bottom">
            <div class="flip-card-front dark" data-height-xl="200" style="background-image: url('{{ asset('/images/pagepro/service/'~page.services.3.imgService) }}'); height: 200px;">
                <div class="flip-card-inner">
                    <div class="card nobg noborder text-center">
                        <div class="card-body">
                            <h3 class="card-title"> {{ page.services.3.title }}</h3>
                            <p class="card-text t400">{{ page.services.3.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card-back " data-height-xl="200" style="background: {{ page.services.3.colorBack }}; height: 200px;">
                <div class="flip-card-inner">
                    <p class="mb-2 text-white">{{ page.services.3.contentBack }}</p>
                    {% if page.services.3.description != null %}
                        <button type="button" class="btn btn-outline-light mt-2" data-toggle="modal" data-target=".modal-{{ page.services.3.id }}">Voir plus</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-4" style="position: absolute; left: 390px; top: 304px; transition-property: opacity, transform; transition-duration: 0.65s; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
        <div class="flip-card top-to-bottom">
            <div class="flip-card-front dark" data-height-xl="200" style="background-image: url('{{ asset('/images/pagepro/service/'~page.services.4.imgService) }}'); height: 200px;">
                <div class="flip-card-inner">
                    <div class="card nobg noborder">
                        <div class="card-body">
                            <h3 class="card-title mb-0"> {{ page.services.4.title }}</h3>
                            <p class="card-text t400">{{ page.services.4.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card-back" data-height-xl="200" style="background: {{ page.services.4.colorBack }}; height: 200px;">
                <div class="flip-card-inner">
                    <p class="mb-2 text-white">{{ page.services.4.contentBack }}</p>

                    {% if page.services.4.description != null %}

                        <button type="button" class="btn btn-outline-light mt-2" data-toggle="modal" data-target=".modal-{{ page.services.4.id }}">Voir plus</button>

                    {% endif %}


                </div>
            </div>
        </div>
    </div>

</div>

{% for service in page.services %}

    <div class="modal fade modal-{{ service.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">{{ service.title }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        {{ service.description|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}

