{% extends 'pagepro/base.html.twig' %}

{% block title %}Edition vos horaires | {{ parent()}} {% endblock %}

{% block body %}

    <div class="row">

        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Paramètres</span></h5>
                        <ol class="breadcrumbs mb-0">
                            <li class="breadcrumb-item"><a href="#">Modifier vos paramètres</a></li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>


        <section class="tabs-vertical mt-1 section">
            <div class="row">
                <div class="col l4 s12">
                    <!-- tabs  -->
                    <div class="card-panel">
                       <h6>Description</h6>

                       <p>
                           Vous-avez la possibilité de diffuser où non certaines informations comme l'adresse, le numéro de SIRET...
                       </p>
                        </div>
                </div>
                <div class="col l8 s12">
                    <!-- tabs content -->
                    <div >
                        <div class="card-panel">
                            <div class="row">
                                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                                <h6 class="col s12 mb-2">Paramètres de ma page</h6>
                                <div class="col s12 mb-1">
                                    <div class="switch">
                                        <label>
                                            {{ form_widget(form.isPublished) }}
                                            {{ form_errors(form.isPublished) }}
                                            <span class="lever"></span>
                                        </label>
                                        <span class="switch-label w-100">Rendre ma page visible</span>
                                    </div>
                                </div>
                                <div class="col s12 mb-1">
                                    <div class="switch">
                                        <label>
                                            {{ form_widget(form.addressPublished) }}
                                            <span class="lever"></span>
                                        </label>
                                        <span class="switch-label w-100">Publier mon adresse sur ma page</span>
                                    </div>
                                </div>
                                <div class="col s12 mb-1">
                                    <div class="switch">
                                        <label>
                                            {{ form_widget(form.siretPublished) }}
                                            <span class="lever"></span>
                                        </label>
                                        <span class="switch-label w-100">Publier mon numéro de SIRET</span>
                                    </div>
                                </div>

                                <div class="col s12 mb-1">
                                    <div class="switch">
                                        <label>
                                            {{ form_widget(form.email1Published) }}
                                            <span class="lever"></span>
                                        </label>
                                        <span class="switch-label w-100">Publier mon email</span>
                                    </div>
                                </div>

                                <div class="col s12 mb-1">
                                    <div class="switch">
                                        <label>
                                            {{ form_widget(form.tel1Published) }}
                                            <span class="lever"></span>
                                        </label>
                                        <span class="switch-label w-100">Publier mon numéro de téléphone</span>
                                    </div>
                                </div>

                                <div class="col s12 mb-1">
                                    <div class="switch">
                                        <label>
                                            {{ form_widget(form.schedulePublished) }}
                                            <span class="lever"></span>
                                        </label>
                                        <span class="switch-label w-100">Publier mes horaires</span>
                                    </div>
                                </div>

                                <div class="col s12 display-flex justify-content-end form-action mt-2">
                                    <button type="submit" class="btn green waves-light waves-effect mr-sm-1 mr-2">Modifier
                                        les paramètres</button>
                                </div>

                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('js/schedule.js') }}"></script>
 {% endblock %}