<!-- BEGIN: SideNav-->
<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
    <div class="brand-sidebar">
        <h1 class="logo-wrapper">
            <a class="brand-logo darken-1" href="#">
                <img class="hide-on-med-and-down" src="{{ asset('/images/pagepro/logo/default.png') }}" alt="materialize logo"/>
                <img class="show-on-medium-and-down hide-on-med-and-up" src="{{ asset('/images/pagepro/logo/default.png') }}" alt="materialize logo"/>
                <span class="logo-text hide-on-med-and-down">Profil</span>
            </a>
        </h1>
    </div>

    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">

        {% if check != null %}

            <li class="bold">
                <a class="waves-effect waves-cyan" href="{{ path('home_pro_profile', {'id': app.user.id }) }}" target="_blank">
                    <i class="material-icons">help_outline</i>
                    <span class="menu-title">Aperçus de ma page</span>
                </a>
            </li>
            <li class="bold">
                <a class="waves-effect waves-cyan " href="{{ path('page_pro', {'slug': check.slug }) }}" target="_blank">
                    <i class="material-icons">help_outline</i>
                    <span class="menu-title">Voir de ma page</span>
                </a>
            </li>
            <li class="bold">
                <a class="waves-effect waves-cyan " href="{{ path('list_message', {'id': app.user.id, 'token': csrf_token('list_message') } ) }}">
                    <i class="material-icons">mail_outline</i>
                    <span class="menu-title">Messages</span>
                    <span class="badge badge pill orange float-right mr-10">
{{ message_count(check.id) }}
                    </span>
                </a>
            </li>
            <li class="bold">
                <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)">
                    <i class="material-icons">settings_input_svideo</i>
                    <span class="menu-title" data-i18n="Dashboard">Ma page</span>
                </a>
                <div class="collapsible-body">
                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                        <li>
                            <a href="{{ path('edit_page_pro', {'id': app.user.id, 'token': csrf_token('edit_page_pro') } ) }}"><i class="material-icons">radio_button_unchecked</i><span
                                >Modifier les infos</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('edit_social_networks_page_pro', {'id': app.user.id, 'token': csrf_token('edit_social_networks_page_pro') } ) }}">
                                <i class="material-icons">radio_button_unchecked</i>
                                <span>Modifier reseaux sociaux</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('edit_schedule', { 'id': app.user.id, 'token': csrf_token('edit_schedule') } ) }}">
                                <i class="material-icons">radio_button_unchecked</i>
                                <span>Modifier les horaires</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('list_service_page_pro', { 'id': app.user.id } ) }}">
                                <i class="material-icons">radio_button_unchecked</i>
                                <span>Modifier les services</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('settings_page_pro', { 'id': app.user.id, 'token': csrf_token('settings_page_pro') } ) }}">
                                <i class="material-icons">radio_button_unchecked</i>
                                <span>Paramètres</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>

        {% endif %}

        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)">
                <i class="material-icons">dvr</i>
                <span class="menu-title" data-i18n="Templates">Templates</span>
            </a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)">
                            <i class="material-icons">radio_button_unchecked</i>
                            <span data-i18n="Vertical">Vertical</span>
                        </a>
                        <div class="collapsible-body">
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <a href="">
                                        <i class="material-icons">radio_button_unchecked</i>
                                        <span data-i18n="Modern Menu">Modern Menu</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="material-icons">radio_button_unchecked</i>
                                        <span data-i18n="Navbar Dark">Navbar Dark</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="material-icons">radio_button_unchecked</i>
                                        <span data-i18n="Gradient Menu">Gradient Menu</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="material-icons">radio_button_unchecked</i>
                                        <span data-i18n="Dark Menu">Dark Menu</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)">
                            <i class="material-icons">radio_button_unchecked</i>
                            <span data-i18n="Horizontal">Horizontal</span>
                        </a>
                        <div class="collapsible-body">
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <a href="">
                                        <i class="material-icons">radio_button_unchecked</i>
                                        <span data-i18n="Horizontal Menu">Horizontal Menu</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>

        <li class="bold">
            <a class="waves-effect waves-cyan " href="{{ path('connection_history_pro', { 'id': app.user.id } ) }}">
                <i class="material-icons">help_outline</i>
                <span class="menu-title">Historique de connexion</span>
            </a>
        </li>
    </ul>

    <div class="navigation-background"></div>

    <a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out">
        <i class="material-icons">menu</i>
    </a>

</aside>
<!-- END: SideNav-->
